{% extends 'base.html'%}
{% load static%}
{% block main%}
<div class="about">
    <h1>Who We Are!</h1>
    <small>
    We Convert An Idea Into Reality”, Be It Startups Or Enterprises. Established in 2012 at Hyderabad, India, sales offices in USA and UK. We started delivering mobile and web app solutions to startups, SMEs and large enterprises. We aspire to be a leading technology company trusted by clients, admired by employees and respected by stakeholders for our ability to deliver excellence in everything we do. We profusely proclaim about our current team which consists of Certified User Experience experts and Mobile app developers, technical architects and Project Managers. Our approach is dynamic and entirely result oriented. We analyze and understand project objectives, requirements, expectations and develop strategies based on the customary meetings with clients to ensure complete success within the stipulated time frame.
    At Castus we provide end to end solutions for app development. Recognized and appreciated by our clients!
    </small>
</div>
{% endblock %}
