{% extends 'base.html'%}
{% load static%}
{% block link %}
<link rel="stylesheet" type="text/css" href="{% static 'css/addproduct.css' %}">
{% endblock %}
{% block admin %}
<form method="post" action="/addproduct" enctype="multipart/form-data" >
  {% csrf_token %}
<ul class="product-upload">
    <h3>ADD-PRODUCT:</h3>
    <li>
      <label for="productname">Product Name</label>
      <input type="text" name="productname" required>
    </div>
    <li>
      <label for="price">Selling Price</label>
      <input type="number" name="price" required>
    </li>
    <li>
      <label for="discount">Actual Price</label>
      <input type="number" name="discount" required>
    </li>
    <li>
      <label for="specifications">Specifications</label>
      <textarea type="text" name="specifications" required></textarea>
    </li>
    <li>
        <label for="description">Description</label>
        <textarea type="text" name="description" required></textarea>
      </li>
      <li>
        <label for="category">Category</label>
        <select name="category">
          <option value="groceries">groceries</option>
          <option value="Mobiles">Mobiles</option>
          <option value="Fashion">Fashion</option>
          <option value="Electronics">Electronics</option>
          <option value="Home & Furnitures">Home & Furnitures</option>
          <option value="Appliances">Appliances</option>
          <option value="Travel">Travel</option>
          <option value="Beauty, Toys & More">Beauty, Toys & More</option>
        </select>
      </li>
    <li style="cursor: pointer;">
      <label for="product_image">Image</label>
      <input type="file" name="product_image" required style="cursor: pointer;">
    </li><br>
    <button style="cursor:pointer;margin-left:30%">Submit</button>
    <br>
    <br>
  </ul>
</form>
  {% endblock %}