{% extends 'base.html'%}
{% load static%}
{% block link %}
<link rel="stylesheet" type="text/css" href="{% static 'css/category.css' %}">
{% endblock %}
{% block main %}
<style>
    .profilebtn {
        background-color: #007bff;
        color: #ffffff;
        border: none;
        padding: 5px 20px;
        border-radius: 5px;
        cursor: pointer;
    }
    .profilebtn:hover {
        background-color: #abd1f8;
        border-bottom: 1px solid rgb(255, 136, 0);
    }
    .adrsbtn {
        background-color:#0056b3;
        color: #ffffff;
        border: none;
        padding: 5px 20px;
        border-radius: 5px;
        cursor: pointer;
    }
    .adrsbtn:hover {
        background-color: #0056b3;
        border-bottom: 1px solid red;
    }
  </style>
  <br>
  <br>
  <br>
  <br>
  <div>
    <a href="{% url 'password_change' %}"><button type="submit" class="btn btn-primary">Change Password</button></a>
    <h3>welcome <span class="text-captilize">{{request.user}}</span></h3>
    <ul class="list-unstyled" style="list-style: none;">
      <li class="d-grid"><a href="{% url 'profile'%}" class="btn btn-primary"><button class="profilebtn">New Profile</button></a></li><br>
      <li class="d-grid"><a href="{% url 'address'%}" class="btn "><button class="adrsbtn">Adress</button></a></li>
  </ul>
  </div>
  <form class="product-items">
    {% for address in address %}
        <div class="product">
        <p><b>Name:</b>{{address.name}}</p>
        <p><b>locality:</b>{{address.locality}}</p>
        <p><b>City:</b>{{address.city}}</p>
        <p><b>State:</b>{{address.state}}</p>
        <p><b>Phone:</b>{{address.phone}}</p>
        <div class="btns">
        <a href="address/{{address.id}}"><button type="button" class="btn btn-outline-success">Update</button></a>
        <a href="{% url 'address' address_id=address.id %}"><button type="button" class="btn btn-outline-danger">Delete</button></a>
        </div>
        </div> 
    {% endfor %}
    </form>
{% endblock %}