{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    {% block link %}{% endblock %}
    <title>Supermarket-Home</title>
</head>
<style>
</style>
<body>
    <main>
        <header>
            <!--phone sidebar button-->
            <style>
                .main-bar1{
                    display:none;
                }
                @media screen and (max-width:800px){
                    .main-bar1{
                        display:block;
                        padding:0%;
                        margin:0%;
                        margin-left:-5%;
                        
                    } 
                }
            </style>
            <div class="main-bar1">
                    <ul  class="burger" id ="burger" >
                        <li class="layer1"></li>
                        <li class="layer2"></li>
                        <li class="layer3"></li>
            </div>
            <div class="main-bar1" style="margin-right:10px">
                {% if user.is_authenticated %}
                <a class="nav-link text-white" href="{% url 'home' %}"><img src="{% static 'images/banner/cart.svg'%}"></a>  
                {% else %}
                <a class="nav-link text-white" href=""><img src="{% static 'images/banner/appinstall.svg'%}"></a>
                <a class="nav-link text-white" href="{% url 'home' %}"><img src="{% static 'images/banner/cart.svg'%}"></a>    
                {% endif %}
                <a class="nav-link text-white" href="{% url 'cart' %}"><img src="{% static 'images/banner/cart.svg'%}"></a>     
                <a class="nav-link text-white" href="{% url 'profile' %}"><img src="{% static 'images/banner/profile.svg'%}" ></a>     
            </div>
            <!--end phone sidebar button-->
            <div class="main-bar">
                {% if user.is_staff %}
                <a href=""><img src="{% static 'images/banner/my-logo2.webp'%}" alt="image" style="height: 50px; margin-top: 3px;margin-left:100%;"></a>
                {% elif user.is_authenticated %}
                <a href="{% url 'home' %}"><img src="{% static 'images/banner/my-logo2.webp'%}" alt="image" style="height: 50px; margin-top: 3px;margin-left:100%;"></a>
                {% else %}
                <a href="{% url 'home' %}"><img src="{% static 'images/banner/my-logo2.webp'%}" alt="image" style="height: 50px; margin-top: 3px;margin-left:100%;"></a>
                {% endif %}
            </div>
            <div class="main-bar">
                <ul class="menu">
                    <li class="username" style=" cursor: pointer;">
                        {% if user.is_authenticated %}
                        <a class="nav-link text-white" ><img src="{% static 'images/banner/profile.svg'%}" style=" margin-top: -2px;">{{request.user}} <span class="rotate-text-180" style="margin-left:3px">⇪</span></a>
                        {% else %}
                        <a class="nav-link text-white" ><img src="{% static 'images/banner/profile.svg'%}" style=" margin-top: -2px;">welcome <span class="rotate-text-180" style="margin-left:3px">⇪</span></a>
                        {% endif %}
                        <ul class="submenu" style="width:100px">
                            {% if user.is_staff %}
                            <li><a href="{% url 'addproduct' %}"><img src="{% static 'images/banner/profile.svg'%}" style=" height=-5px;margin-top: -2px;">Add product</a></li>
                            <li><a href="{% url 'addmobile' %}"><img src="{% static 'images/banner/profile.svg'%}" style=" height=-5px;margin-top: -2px;">Add Mobile</a></li>
                            <li><a href="{% url 'logout' %}"><img src="{% static 'images/banner/logout.svg'%}" style=" height=-5px;margin-top: -2px;">Logout</a></li>
                            {% elif user.is_authenticated %}
                            <li><a href="{% url 'address' %}"><img src="{% static 'images/banner/profile.svg'%}" style=" height=-5px;margin-top: -2px;">My Profile</a></li>
                            <li><a href=""><img src="{% static 'images/banner/supercoin.svg'%}" style=" height=-5px;margin-top: -2px;">Lucky coin</a></li>
                            <li><a href="{% url 'orders' %}"><img src="{% static 'images/banner/orders.svg'%}" style=" height=-5px;margin-top: -2px;">Orders</a></li>
                            <li><a href="{% url 'wishlist' %}"><img src="{% static 'images/banner/wishlist.svg'%}" style=" height=-5px;margin-top: -2px;">wishlist</a></li>
                            <li><a href=""><img src="{% static 'images/banner/coupons.svg'%}" style=" height=-5px;margin-top: -2px;">Coupons</a></li>
                            <li><a href=""><img src="{% static 'images/banner/giftcard.svg'%}" style=" height=-5px;margin-top: -2px;">Giftcards</a></li>
                            <li><a href="{% url 'logout' %}"><img src="{% static 'images/banner/logout.svg'%}" style=" height=-5px;margin-top: -2px;">Logout</a></li>
                            {% else %}
                            <li><a href="{% url 'address' %}"><img src="{% static 'images/banner/profile.svg'%}" style=" height=-5px;margin-top: -2px;">My Profile</a></li>
                            <li><a href=""><img src="{% static 'images/banner/supercoin.svg'%}" style=" height=-5px;margin-top: -2px;">Lucky coin</a></li>
                            <li><a href="{% url 'orders' %}"><img src="{% static 'images/banner/orders.svg'%}" style=" height=-5px;margin-top: -2px;">Orders</a></li>
                            <li><a href="{% url 'wishlist' %}"><img src="{% static 'images/banner/wishlist.svg'%}" style=" height=-5px;margin-top: -2px;">wishlist</a></li>
                            <li><a href=""><img src="{% static 'images/banner/coupons.svg'%}" style=" height=-5px;margin-top: -2px;">Coupons</a></li>
                            <li><a href=""><img src="{% static 'images/banner/giftcard.svg'%}" style=" height=-5px;margin-top: -2px;">Giftcards</a></li>
                            <li><a href="{% url 'login' %}"><img src="{% static 'images/banner/logout.svg'%}" style=" height=-5px;margin-top: -2px;">Login</a></li>
                            {% endif %}
                        </ul>
                    </li>
                    <li>
                        <a class="nav-link text-white" href="{% url 'cart' %}"><img src="{% static 'images/banner/cart.svg'%}" >Cart</a>
                    </li>
                    <li>
                        <a class="nav-link text-white" href=""><img src="{% static 'images/banner/seller.svg'%}" >Become a Seller</a>
                    </li>
                    <li>
                        <a class="nav-link text-white" href=""><img src="{% static 'images/banner/dots3.svg'%}"></a>
                    </li>
                </ul>
            </div>
</header>
<!--Use for other Html page attachment -->      
<section>
    {% block banner-slider%}{% endblock %}
    {% block information %}{% endblock %}
    {% block main%}{% endblock %}
    {% block paymentlink %}{% endblock %}
</section>
    <!--Close Html page attachment -->
<footer>
    <!--copyRight of the company-->
    <h4 style="text-align: center;background-color: teal;width:100%;">copyright :2023 || Developed by prashanth</h4>
    <!--Side bar for phone view-->
    <style>
        .menu-sidebar{
            width:0px;
            left:-2px;
        }
        .menu-list a{
            background-color:white;
            border-bottom:2px solid rgba(68, 67, 67, 0.1);
            width:400px;
            height:30px;
            margin-left:-60px;
            padding-left:60px;
            padding-top:10px;
        }
        .menu-sidebar{
            background-color:white;
        }
        @media screen and (max-width:800px){
            .userblock{
                height:48px;
                background-color:rgb(248, 149, 0);
            }
            .userblock ul{
                margin-top:7px;
            }
        }
    </style>
    <div class="menu-sidebar" id="sidemenubar" >
        <div class='userblock' style='display:flex;border-bottom:2px solid rgba(68, 67, 67, 0.1);' >
        <h3 style='margin-left:20px;width:100px'>{{request.user}}</h3>
        <ul  class="burger" id ="burger1" style='margin-left:80px;'>
            <li class="layer1"></li>
            <li class="layer2"></li>
            <li class="layer3"></li>
        </ul>
        </div>
        <ul class="menu-list" id="menulist" style="align-items: start;" >
            <a href=""><li><img src="{% static 'images/banner/supercoin.svg'%}" style="">Lucky coin</li></a>
            <a  href="{% url 'about' %}"><li class="menu-list-item" ><img src="{% static 'images/banner/supercoin.svg'%}" style="">About</li></a>
            {% if user.is_staff %}
            <a  href="{% url 'addproduct' %}"><li class="menu-list-item" ><img src="{% static 'images/banner/supercoin.svg'%}" style=""></li>add product</a> 
            {% else %}
            <a  href=""><li class="menu-list-item" ><img src="{% static 'images/banner/supercoin.svg'%}" style=""></li>.</a>    
            {% endif %}
            <a  href="{% url 'cart'%}"><li class="menu-list-item" ><img src="{% static 'images/banner/cart.svg'%}" style="">Cart</li></a>
            <a  href="{% url 'wishlist' %}"><li class="menu-list-item" ><img src="{% static 'images/banner/wishlist.svg'%}" style="">Wishlist</li></a>
            <a  href="{% url 'address'%}"><li class="menu-list-item" ><img src="{% static 'images/banner/profile.svg'%}" style="">Profile</li></a>
                {% if user.is_authenticated %}
                <a class="nav-link text-white" href="{% url 'logout' %}"><li class="menu-list-item" ><img src="{% static 'images/banner/logout.svg'%}">Logout</li></a>
                {% else %}
                <a class="nav-link text-white" href="{% url 'login' %}"><li class="menu-list-item" ><img src="{% static 'images/banner/logout.svg'%}">Login</li></a>
                {% endif %}
            </li>
        </ul>
    </div>
    <!--end phone view-->
</footer>
<script type="text/javascript" src="{% static 'js/home.js' %}"></script>
</body>
</html>