{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    {% block link %}{% endblock %}
    <title>Supermarket-Home</title>
  </head>
  <body>
<main>
    <header>
        <div>
        <img src="" alt="image" style="height: 40px;width:fit-content;margin-left:10%;cursor:pointer">
    </div>
    <div style="margin-left: 25%;">
        <ul class="menu">
            <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'category' %}">Products</a>
                <ul class="submenu">
                    <li><a href="{% url 'milk' %}">Milk</a></li>
                    <li><a href="{% url 'curd' %}">Curd</a></li>
                    <li><a href="{% url 'kulfi' %}">kulfi</a></li>
                    <li><a href="{% url 'ghee' %}">Ghee</a></li>
                    <li><a href="{% url 'paneer' %}">Paneer</a></li>
                    <li><a href="{% url 'Ice-cream' %}">Ice-cream</a></li>
                    <li><a href="{% url 'cheese' %}">cheese</a></li>
                  </ul>
            </li>
            <li><a href="{% url 'orders' %}">Orders</a>
                <ul class="submenu">
                    <li><a href="{% url 'cart'%}">Cart</a></li>
                    <li><a class="nav-link text-white" href="{% url 'wishlist' %}">Wishlist</a></li>
                    <li><a href="{% url 'profile' %}">Profile</a></li>
                    <li><a href="{% url 'addproduct' %}">Add product</a></li>
                  </ul></li>
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'contactus' %}">Contact</a></li>
            <li>{% if user.is_authenticated %}
                <a class="nav-link text-white" href="{% url 'logout' %}">Logout</a>
                {% else %}
                <a class="nav-link text-white" href="{% url 'login' %}">Login</a>
                {% endif %}</a></li>

        </ul>
    </div>
    <div class="burgers">
        <ul  class="burger" id ="burger" style="margin-right: 30px;">
            <li class="layer1"></li>
            <li class="layer2"></li>
            <li class="layer3"></li>
        </ul>
        <ul  class="burger" id ="burger1" style="margin-right: 30px;">
            <li class="layer1"></li>
            <li class="layer2"></li>
            <li class="layer3"></li>
        </ul>
    </div>
</header>
    {% block banner-slider%}{% endblock %}
    {% block information %}{% endblock %}
    {% block main%}{% endblock %}
    {% block paymentlink %}{% endblock %}
<footer>
    <h4 style="text-align: center;background-color: teal;">copyright :2023 || Developed by prashanth</h4>
    <div class="menu-sidebar" id="sidemenubar">
    <div class="menu-menubar">
        <ul class="menu-list" id="menulist" >
            <li class="menu-list-item" style="cursor: pointer;"><a href="{% url 'home' %}">Home</a></li>
            <li class="menu-list-item" style="cursor: pointer;"><a href="{% url 'about' %}">About</a></li>
            <li class="menu-list-item" style="cursor: pointer;"><a href="{% url 'category' %}">Products</a></li>
            <li class="menu-list-item" style="cursor: pointer;"><a href="{% url 'cart'%}">Cart</a></li>
            <li class="menu-list-item" style="cursor: pointer;"><a href="{% url 'wishlist' %}">Wishlist</a></li>
            <li class="menu-list-item" style="cursor: pointer;"><a href="{% url 'profile' %}">Profile</a></li>
            <li class="menu-list-item" style="cursor: pointer;">
                {% if user.is_authenticated %}
                <a class="nav-link text-white" href="{% url 'logout' %}">Logout</a>
                {% else %}
                <a class="nav-link text-white" href="{% url 'login' %}">Login</a>
                {% endif %}
            </li>
        </ul>
    </div>
</div>
</footer>
<script type="text/javascript" src="{% static 'js/website.js' %}"></script>
</body>
</html>