{% extends 'base.html'%}
{% load static %}
{% block link %}<link rel="stylesheet" type="text/css" href="{% static 'css/categoy.css' %}">
{% endblock %}
{% block main %} 
<style>
    .space{
        margin-top:5%;
      }
    .Remove {
        background-color: #151616;
        color: #ffffff;
        border: none;
        padding: 5px 20px;
        cursor: pointer;
    }
    .Remove:hover {
        background-color: #fc0000;
        border-bottom: 1px solid rgb(255, 136, 0);
    }
    .product-items {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 20px;
        padding: 20px;
        border: 2px solid #ddd;
        padding: 15px;
    }
    .product img{
        width:280px;
        height:200px;
    }
    .product {
    border: 1px solid #ddd;
    padding: 15px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    .payment{
        margin-bottom:10px;
    }
    .button button{
        height:50px;
        width:210px;
        border:none;
        font-size:20px;
      }
      .empty {
        color: #555;

    }
    @media screen and (max-width:800px){
    .space{
      margin-top:10.7%;
    }
    .product-items {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
      gap: 3px;
      padding: 20px;
    }
    .product img {
      height: auto;
      width:280px;
      border-radius: 8px;
      margin-bottom: 10px;
    }
    .product img:hover{
      width:281px;
    }
    .button{
        position:fixed;
        bottom:0%;
        background-color: white;
        width:100%;
        overflow:hidden;
        display:flex;
        margin-left:-4.7%;
      }
    }
</style>
<form class='space'>
    {% csrf_token %}
    {% if cart_items %}
    <div class='product-items'>
        {% for product in cart_items %}
        <div class="product">
        <img src="{{product.product_image.url}}" alt="{{product.productname}}">
        <h3>Name:{{product.productname}}</h3>
        <p>₹{{product.price}}<br>
          ₹{{product.discount}}<br>
            Quantity:{{product.quantity}} <br></p>
          <a href="{% url 'remove-from-cart' product_id=product.id %}"><button type="button" class="Remove">Remove</button></a>
        </div>
        {% endfor %}
    </div>
    <div class =payment>
        <h2 style="margin-left:20px">TOTAL PAYMENT</h2>
        <ul class="product" style="list-style-type: none; display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        gap: 20px;" >
            <li ><h4>amount :-<span id="amount">{{amount}}</span></h4></li>
            <li><h4>shipping                <span>Rs.40</span><br></h4></li>
            <li ><h4>Total(including GST)    <span id="totalamount">Rs.{{totalamount}}</span></h4></li>
            <li>
                <div class="button" style='justify-content:center;'>
                    <a><button type="button" class="addtocart" style="background-color:rgb(253, 253, 253);" >Total:₹ {{totalamount}}</button></a>
                    <a href="{% url 'checkout' %}"><button type="button" class="addtocart" style="cursor: pointer;background-color:rgb(255, 136, 0)" >PAYMENT</button></a>
                  </div>
            </li>
        </ul>
        <br>
    </div>
    {% else %}
    <br>
    <br>
    <br>
    <br>
    <br>
    <p class=empty>Empty Cart<p>
    {% endif %}
</form>
{% endblock %}