{% extends 'base.html'%}
{% load static %}
{% block link %}<link rel="stylesheet" type="text/css" href="">
{% endblock %}
{% block main %}
<style>
  a{
    text-decoration: none;
  }
  .product-items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap:0px;
  padding: 10px;
  border: 2px solid #ddd;
  padding: 15px;
  }
  .space{
    margin-top:5%;
  }
  .product {
    border: 1px solid #ddd;
    padding: 15px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor:pointer;
  }
  .product img {
    height: auto;
    width:280px;
    border-radius: 8px;
    margin-bottom: 10px;
  }
  .product img:hover{
    width:281px;
  }
  @media screen and (max-width:800px){
  .space{
    margin-top:10.7%;
  }
  .product-items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 3px;
    padding: 20px;
  }
  .product img {
    height: auto;
    width:280px;
    border-radius: 8px;
    margin-bottom: 10px;
  }
  .product:hover{
    width:281px;
  }
  }
</style>
<div class='space'>
  {% if products %}
  <div class="product-items">
    {% for product in products %}
    <a style='display:flex' href="productdetails/{{product.id}}"><div class="product">
      <img src="{{product.product_image.url}}" alt="{{product.productname}}">
      <h3>Name:{{product.productname}}</h3>
      <div style='display:flex'>
        <h1 style='margin-right:7px;color:green'>- %Off</h1>
        <p><span style='margin-right:7px'>₹</span>{{product.price}}<br>
        <span style='color:rgb(150, 150, 177);' >₹ {{product.discount}}</span></p>
      </div>
    </div></a>
    {% endfor %}
  </div> 
  {% endif %}
</div>
{% endblock %}