{% extends 'base.html'%}
{% load static %}
{% block link %}<link rel="stylesheet" type="text/css" href="{% static 'css/category.css' %}">
{% endblock %}
{%block Back %}
<div>
  <a href="{% url 'back' %}"><img src="{% static 'images/banner/back.png'%}" alt="image" style="height:30px; margin-top: 3px;margin-left:100%;"></a>
</div>
{% endblock %}
{% block main %}
<style>
  .payment{
    margin-top:6%;
  }
  button {
    height:40px;
    width:160px;
    border:none;
    font-size:20px;
    border-radius:10px;
  }
  #COD-content{
    display:none;
  }
  .payment-mode{
    margin-left:10%;
  }
  #COD-close{
    display:none;
  }
  #online-close{
    display:none;
  }
  #online-content{
    display:none;
  }
  .rotate{
    transform: rotate(180deg);
  }
  .COD{
    border-bottom:1px solid rgba(141, 136, 136, 0.1);
    padding-bottom:20px;
    width:70%;
  }
</style>
<div class='payment'>
  <div>
    <div class="product-items">
    {% for product in cart_items %}
        <div class="product">
        <img style=''src="{{product.product.product_image.url}}" alt="{{product.productname}}">
        <p><b>Name:</b>{{product.product.productname}}</p>
        <p><b>Selling_price:</b>{{product.product.price}}</p>
        <p><b>Discounted_price:</b>{{product.product.discount}}</p>
        <p><b>quantity :</b>{{product.quantity}}</p>
    </div>
    {% endfor %}
  </div>
  <h1>Address<h1>
    <div class="product-items">
    {% for address in address %}
    <div class="product">
      <p><b>Name:</b>{{address.name}}</p>
        <p><b>locality:</b>{{address.locality}}</p>
        <p><b>City:</b>{{address.city}}</p>
        <p><b>State:</b>{{address.state}}</p>
        <p><b>Phone:</b>{{address.phone}}</p>
    </div>
    {% endfor %}
  </div>
  <label for="total_price">Total Price:{{totalamount}}</label>
  <h1 class='payment-mode' >Payment options</h1>
  <div class='payment-mode'>
    <h5 class="COD" id='COD' style='cursor:pointer'>Cash on Delivery<span style="margin-left:50%">↑</span></h5>
    <h5 class="COD" id='COD-close' style='cursor:pointer'>Cash on Delivery<span style="margin-left:50%;">↓</span></h5>
    <div id="COD-content"> 
      <form method="post" action='/place-order'>
        {% csrf_token %}
        <label>
          {% for address in address %}
          <input style='display:none' type="text" name="address" style="cursor: pointer;" value="{{address.name}}, {{address.locality}}, {{address.city}}, {{address.state}}-{{address.zipcode}}, {{address.phone}}">
          {% endfor %}
        </label>
        <button type="submit" style="cursor: pointer;background-color:rgb(255, 136, 0)" >Place Order</button>
      </form>
    </div>
  </div>
  <div class='payment-mode'>
    <h5 class="COD" id='online'>Pay Online<span style="margin-left:50%">↑</span></h5>
    <h5 class="COD" id='online-close'>Pay Online<span style="margin-left:50%">↓</span></h5>
    <div id="online-content">
      <form method="post" action=''>
        {% csrf_token %}
        <label>
          {% for address in address %}
          <input style='display:none' type="text" name="custid" style="cursor: pointer;" value="{{address.name}}, {{address.locality}}, {{address.city}}, {{address.state}}-{{address.zipcode}}, {{address.phone}}">
          {% endfor %}
        </label>
        <button type="submit"  id='rzp-button1' style="cursor: pointer;background-color:rgb(255, 136, 0)" >place order</button>
      </form>
    </div>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
var options = {
    "key": "rzp_test_wrDAPwMFn1t3ii", // Enter the Key ID generated from the Dashboard
    "amount": "{{razoramount}}", // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
    "currency": "INR",
    "name": "prashanth Corp",
    "description": "Test Transaction",
    "image": "https://example.com/your_logo",
    "order_id": "{{order_id}}", //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
    "handler": function (response){
        //alert(response.razorpay_payment_id);
        //alert(response.razorpay_order_id);
        //alert(response.razorpay_signature)
    },
    "prefill": {
        "name": "{{user.username}}",
        "email": "{{user.email}}",
        "contact": "{{address.phone}}"
    },
    "notes": {
        "address": "prashanth Corporate Office"
    },
    "theme": {
        "color": "#3399cc"
    }
};
var rzp1 = new Razorpay(options);
rzp1.on('payment.failed', function (response){
        alert(response.error.code);
});
document.getElementById('rzp-button1').onclick = function(e){
    rzp1.open();
    e.preventDefault();
}
</script>
  </div>

</div>
<script >
var CODbtn = document.querySelector('#COD');
var onlinebtn = document.querySelector('#online');
var CODcontent = document.querySelector('#COD-content');
var onlinecontent = document.querySelector('#online-content');
var closebtn = document.querySelector('#COD-close');
var onlineclosebtn = document.querySelector('#online-close');
CODbtn.addEventListener('click', () => {
    CODcontent.style.display = 'block';  
    CODbtn.style.display='none';
    closebtn.style.display='block';
    onlinecontent.style.display='none';
});
closebtn.addEventListener('click', () => {
  CODcontent.style.display = 'none';  
  closebtn.style.display='none';
  CODbtn.style.display='block';
});
onlinebtn.addEventListener('click', () => {
  onlinecontent.style.display='block';
  CODcontent.style.display = 'none'; 
  onlinebtn.style.display = 'none';
  onlineclosebtn.style.display='block';
});
onlineclosebtn.addEventListener('click', () => {
  onlinecontent.style.display='none';
  onlinebtn.style.display ='block';
  onlineclosebtn.style.display='none';
});
</script>
{% endblock %}