{% extends 'base.html'%}
{% load static %}
{% block link %}<link rel="stylesheet" type="text/css" href="{% static 'css/addproduct.css' %}">{% endblock %}
{%block Back %}
<div>
  <a href="{% url 'home' %}"><img src="{% static 'images/banner/back.png'%}" alt="image" style="height:30px; margin-top: 3px;margin-left:30%;"></a>
</div>
{% endblock %}
{% block main%}
<div class="contactus" style="display: grid;
grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
gap: 150px; margin-top: 5%;" >
<form method="post" action="/contact" enctype="multipart/form-data" >
    {% csrf_token %}
  <ul class="product-upload">
      <h3>DROP MESSAGE:</h3>
      <li>
        <label for="floatingInput">Name</label>
        <input type="text" name='name'class="form-control" id="floatingInput" placeholder="name" required>
      <li>
        <label for="floatingInput">Email address</label>
        <input type="email" name="email" class="form-control" id="floatingInput" placeholder="name@example.com" required>
      </li>
      <li>
        <label for="floatingInput">Phone</label>
        <input type="phone" name="phone" class="form-control" id="floatingInput" placeholder="91XXXXXXX" required>
      </li>
      <li>
        <label for="floatingInput">Message</label>
        <textarea type="text" name="message" class="form-control" id="floatingInput" placeholder="" required></textarea>
      </li>
      <br>
      <button style="cursor:pointer;margin-left:30%">Submit</button>
      <br>
      <br>
    </ul>
</form>
<form style="margin-left: 30%;width: fit-content;">
    <br>
    <br>
    <br>
    <h2>Contact Info</h2>
<h4>India Office</h4>
 <p>XXXX Nagar, Madhapur, Hyderabad, india.</p>

 <link>contact@XXXXinfo.com<link>
<p>+91 XXXXXXX</p>
<h2 class='message'>{{message}}</h2>
</form>
</div>
{% endblock %}
  