{% extends 'base.html'%}
{% load static %}
{% block link %}<link rel="stylesheet" type="text/css" href="">
{% endblock %}
{%block Back %}
<div>
  <a href="{% url 'home' %}"><img src="{% static 'images/banner/back.png'%}" alt="image" style="height:30px; margin-top: 3px;margin-left:100%;"></a>
</div>
{% endblock %}
{% block category %}<h2>Furnitures</h2>{% endblock %}
{% block main %}
<style>
  .bar-content{
    display:flex;
    justify-content:space-around;
    background-color:white;
  }
  .bar-content a{
    padding:15px;
  }
  .bar-content .active{
    color:rgba(248, 149, 0, 0.644);
    border-bottom:1px solid rgba(248, 149, 0, 0.644);
    border-radius:10px;
  }
  .bar-content a:hover{
    color:rgba(248, 149, 0, 0.644);
    border-bottom:1px solid rgba(248, 149, 0, 0.644);
    border-radius:10px;
  }
  a{
    text-decoration: none;
  }
  .space h3{
    font-family: 'Times New Roman', Times, serif;
  }
  .mob-content{
    background
  }
  .space .mob-content p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
    font-size:14px;
    color:rgb(80, 73, 73);
    align-items:center;
    text-align:justify
  }
  .space .mob-content p a{
    color: rgb(53, 53, 201);
  }
  .space img{
    width:100%;
  }
  .product-items {
  display: flex;
  background-color:white;
  }
  .space{
    margin-top:5.5%;
  }
  .mobiles{
    width:160px;
    padding-left:10px;
    cursor:pointer;
  }
  .product-items{
    justify-content:center;
    margin-top:2px;
    margin-bottom:2px;
    padding-top:20px;
    overflow:hidden;
  }
  .mobiles p{
    font-size:13px;
  }
  .mobiles .name{
  
  }
  .mobiles:hover .name{
    color: rgb(33, 33, 117);
  }
  .mobiles img {
    height: auto;
    width:80px;
    height:100px;
    margin-bottom:8px;
  }
  .product img:hover{
    width:281px;
  }
  .mobile-3ads{
    display:flex;
    width:100%;
    margin-bottom:3px;
  }
  .mobile-3ads img{
    width:33.3%;
    height:300px;
  }
  .mobile-ads img{
    height:250px;
  }
  .mobiles .rating{
    padding:4px;
    width:25px;
    border-radius:2px;
    background-color:green;
    color: #ddd;
    margin-left:10%;
  }
  .phone-brand-tittle{
    margin-top:0px;
    display:flex;
    justify-content:space-between;
    background-color:white;
  }
  .phone-brand-tittle h3{
    margin-left:30px;
  }
  .phone-brand-tittle h5{
    margin-right:30px;
    padding:7px;
    background-color:rgb(50, 50, 211) ;
  }
  .phone-brand-tittle h5 a{
    color:white;
  }
  .phone-brand-tittle a{
    color:white;
  }
  @media screen and (max-width:800px){
  .space{
    margin-top:13%;
  }
  .product-items {
   display:flex;
   overflow:hidden;
   padding-left:40%;
  }
  .mobiles img {
    height: auto;
    width:80px;
    border-radius: 8px;
    margin-bottom: 10px;
  }
  .product:hover{
    width:281px;
  }
  .bar-content{
    display: none;
  }
  }
</style>
<!-- ads start-->
<div class='space'>
<div class='bar-content'>
  <p><a href="{% url 'Groceries'%}">Grocery</a></p>
  <p><a href="{% url 'Mobiles'%}">Mobiles</a></p>
  <p><a href="{% url 'Electronics'%}">Electronics</a></p>
  <p><a href="{% url 'Fashion'%}">Fashion</a></p>
  <p><a class='active' href="{% url 'Furnitures'%}">Furnitures</a></p>
  <p><a href="{% url 'Appliances'%}">Appliances</a></p>
  <p><a href="{% url 'Travel'%}">Travel</a></p>
  <p><a href="  ">Beauty&Toys</a></p>
</div>
</div>
<div>
    <div class='mob-content'>
        <h3>Furnitures</h3>
    </div>
    {% for mobile in mobile %}
    <div class='mobile-ads'>
    {% if mobile %}
    <img src="{{mobile.image_1.url}}" alt="">
    {% endif%}
    {% if mobile %}
    <img src="{{mobile.image_2.url}}" alt="">
    {% endif%}
    </div>
    {% endfor %}
    {% for mobile in mobile3 %}
    <div class='mobile-3ads'>
    <img style='padding-right:3px'src="{{mobile.image_1.url}}" alt="">
    <img style='padding-right:3px' src="{{mobile.image_2.url}}" alt="">
    <img src="{{mobile.image_3.url}}" alt="">
    </div>
    {% endfor %} 
    {% for mobile in mobile %}
    <div class='mobile-ads'>
    <img src="{{mobile.image_3.url}}" alt="">
    <img src="{{mobile.image_4.url}}" alt="">
    </div>
    {% endfor %} 
    <!-- ads end-->
    <!-- Products-->
    <div class='phone-brand-tittle'>
        <h3>--</h3>
        <a href="{% url 'Appliances' brand_name='Kitchen' %}"><h5>view all</h5></a>
    </div>
    <div class="product-items" style='margin-bottom:2px'>
        {% if Kitchen %}
        {% for product in  Kitchen %}
        <a style='display:flex' href="productdetails/{{product.id}}"><div class=mobiles>
          <div style='display:flex'>
          <img style='margin-left:14%;' src="{{product.product_image.url}}" alt="{{product.productname}}">
          <a href="{% url 'add-to-wishlist' product_id=product.id %}"><img style='height:20px;' src="{% static 'images/banner/wishlist.svg'%}"></a>
          </div>
          <p class='name'>{{product.productname}}</p>
          <div>
            <p ><span class='rating'>4.5 *</span><span style='margin-left:5px;color:rgb(150, 150, 177);'>(1,345)</span></p>
            <p><span style='margin-right:7px'>₹</span >{{product.price}}
              <span style='color:rgb(150, 150, 177);text-decoration:line-through;' id='percentage-{{product.id}}'></span>
                <script>
                  var original = parseInt({{product.price}}/(1-({{product.discount}}/100)))
                  document.getElementById('percentage-{{product.id}}').innerHTML = "₹" + original;
              </script>
              <span style='color:green;margin-left:7px'>{{product.discount}}%</span></p>
          </div>
        </div></a>
        {% endfor %}
        {% else %}
        <p>no items</p>
        {% endif %}
      </div> 
      <div class='phone-brand-tittle'>
        <h3>--</h3>
        <a href="{% url 'Appliances' brand_name='Hall' %}"><h5>view all</h5></a>
      </div>
    <div class="product-items">
      {% if Hall %}
        {% for product in Hall %}
        <a style='display:flex' href="productdetails/{{product.id}}"><div class=mobiles>
          <div style='display:flex'>
          <img style='margin-left:14%;' src="{{product.product_image.url}}" alt="{{product.productname}}">
          <a href="{% url 'add-to-wishlist' product_id=product.id %}"><img style='height:15px;' src="{% static 'images/banner/wishlist.svg'%}"></a>
          </div>
          <p class='name'>{{product.productname}}</p>
          <div>
            <p ><span class='rating'>4.5 *</span><span style='margin-left:5px;color:rgb(150, 150, 177);'>(1,345)</span></p>
            <p><span style='margin-right:7px'>₹</span >{{product.price}}
              <span style='color:rgb(150, 150, 177);text-decoration:line-through;' id='percentage-{{product.id}}'></span>
                <script>
                  var original = parseInt({{product.price}}/(1-({{product.discount}}/100)))
                  document.getElementById('percentage-{{product.id}}').innerHTML = "₹" + original;
              </script>
              <span style='color:green;margin-left:7px'>{{product.discount}}%</span></p>
          </div>
        </div></a>
        {% endfor %}
        {% else %}
        <p>no items</p>
        {% endif %}
    </div> 
    <div class='phone-brand-tittle'>
      <h3>--</h3>
      <a href="{% url 'Appliances' brand_name='Bed Room' %}"><h5>view all</h5></a>
    </div>
    <div class="product-items">
        {% if Bed_Room %}
          {% for product in Bed_Room %}
          <a style='display:flex' href="productdetails/{{product.id}}"><div class=mobiles>
            <div style='display:flex'>
            <img style='margin-left:14%;' src="{{product.product_image.url}}" alt="{{product.productname}}">
            <a href="{% url 'add-to-wishlist' product_id=product.id %}"><img style='height:15px;' src="{% static 'images/banner/wishlist.svg'%}"></a>
            </div>
            <p class='name'>{{product.productname}}</p>
            <div>
              <p ><span class='rating'>4.5 *</span><span style='margin-left:5px;color:rgb(150, 150, 177);'>(1,345)</span></p>
              <p><span style='margin-right:7px'>₹</span >{{product.price}}
                <span style='color:rgb(150, 150, 177);text-decoration:line-through;' id='percentage-{{product.id}}'></span>
                  <script>
                    var original = parseInt({{product.price}}/(1-({{product.discount}}/100)))
                    document.getElementById('percentage-{{product.id}}').innerHTML = "₹" + original;
                </script>
                <span style='color:green;margin-left:7px'>{{product.discount}}%</span></p>
            </div>
          </div></a>
          {% endfor %}
          {% else %}
          <p>no items</p>
          {% endif %}
    </div>
    <div class='phone-brand-tittle'>
      <h3>--</h3>
      <h5><a href="{% url 'Appliances' brand_name='Dinning' %}">view all</a></h5>
    </div>
    <div class="product-items">
      {% if Dinning %}
        {% for product in Dinning %}
        <a style='display:flex' href="productdetails/{{product.id}}"><div class=mobiles>
          <div style='display:flex'>
          <img style='margin-left:14%;' src="{{product.product_image.url}}" alt="{{product.productname}}">
          <a href="{% url 'add-to-wishlist' product_id=product.id %}"><img style='height:15px;' src="{% static 'images/banner/wishlist.svg'%}"></a>
          </div>
          <p class='name'>{{product.productname}}</p>
          <div>
            <p ><span class='rating'>4.5 *</span><span style='margin-left:5px;color:rgb(150, 150, 177);'>(1,345)</span></p>
            <p><span style='margin-right:7px'>₹</span >{{product.price}}
              <span style='color:rgb(150, 150, 177);text-decoration:line-through;' id='percentage-{{product.id}}'></span>
                <script>
                  var original = parseInt({{product.price}}/(1-({{product.discount}}/100)))
                  document.getElementById('percentage-{{product.id}}').innerHTML = "₹" + original;
              </script>
              <span style='color:green;margin-left:7px'>{{product.discount}}%</span></p>
          </div>
        </div></a>
        {% endfor %}
        {% else %}
        <p>no items</p>
        {% endif %}
    </div>
    <div class='phone-brand-tittle'>
      <h3>--</h3>
      <h5><a href="{% url 'Appliances' brand_name='Other' %}">view all</a></h5>
    </div>
    <div class="product-items">
      {% if Other %}
        {% for product in Other %}
        <a style='display:flex' href="productdetails/{{product.id}}"><div class=mobiles>
          <div style='display:flex'>
          <img style='margin-left:14%;' src="{{product.product_image.url}}" alt="{{product.productname}}">
          <a href="{% url 'add-to-wishlist' product_id=product.id %}"><img style='height:15px;' src="{% static 'images/banner/wishlist.svg'%}"></a>
          </div>
          <p class='name'>{{product.productname}}</p>
          <div>
            <p ><span class='rating'>4.5 *</span><span style='margin-left:5px;color:rgb(150, 150, 177);'>(1,345)</span></p>
            <p><span style='margin-right:7px'>₹</span >{{product.price}}
              <span style='color:rgb(150, 150, 177);text-decoration:line-through;' id='percentage-{{product.id}}'></span>
                <script>
                  var original = parseInt({{product.price}}/(1-({{product.discount}}/100)))
                  document.getElementById('percentage-{{product.id}}').innerHTML = "₹" + original;
              </script>
              <span style='color:green;margin-left:7px'>{{product.discount}}%</span></p>
          </div>
        </div></a>
        {% endfor %}
        {% else %}
        <p>no items</p>
        {% endif %}
    </div>     
</div>
</div>
{% endblock %}