{% extends 'base.html'%}
{% load static %}
{% block link %}
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
{% endblock %}
{% block banner-slider %}
<style>
  .items-display{
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  left: 0%;
  }
  .items-display a{
    text-align: center;
  }
</style>
<div style="margin-top:8%;">
</div>
<ul style="display: flex;list-style: none;justify-content: space-between;padding-right: 20px;" class="items-display">
  <li>
    <a href="">
      <img src="{% static 'images/banner/grocery.webp'%}">
      <h5>Grocery</h5>
    </a>
  </li>
  <li>
    <a>
      <img src="{% static 'images/banner/mobiles.webp'%}">
      <h5>Mobiles</h5>
    </a>
  </li>
  <li>
    <a>
      <img src="{% static 'images/banner/Fashion.webp'%}">
      <h5>Fashion</h5>
    </a>
  </li>
  <li>
    <a>
      <img src="{% static 'images/banner/electronics.webp'%}">
      <h5>Electronics</h5>
    </a>
  </li>
  <li>
    <a>
      <img src="{% static 'images/banner/home&furnitures.webp'%}">
      <h5>Home & Furnitures</h5>
    </a>
  </li>
  <li>
    <a>
      <img src="{% static 'images/banner/appliances.webp'%}">
      <h5>Appliances</h5>
    </a>
  </li>
  <li>
    <a>
      <img src="{% static 'images/banner/travel.webp'%}">
      <h5>Travel</h5>
    </a>
  </li>
  <li>
    <a>
      <img src="{% static 'images/banner/toys.webp'%}">
      <h5>Beauty, Toys & More</h5>
    </a>
  </li>
</ul>
<div class="slideimg">
  <div class="slide fade" >
      <img src="{% static 'images/banner/b1.jpg'%}" alt="Image1">
  </div>
  <div class="slide fade">
      <img src="{% static 'images/banner/b2.jpg'%}" alt="Image2">
  </div>
  <div class="slide fade">
      <img src="{% static 'images/banner/b3.jpg'%}" alt="Image3">
  </div>
  <button id="prevBtn" class="prev">&#10094;</button>
  <button id="nextBtn" class="next">&#10095;</button>
</div>
{% endblock%}
{% block information%}
<div class="container">
  <div class="dairy">
    <h1>products</h1>
    <p>
      In “Diary Milk’ messages and images are unique aimed to influence attitudes and perception of consumers. In this ad, affect and cognition have each been assumed to play a major role in consumers’ reactions to Diary Milk commercial. There are many ways to see this, but one of the most obvious is simply to look at the two historically dominant ways of assessing Diary Milk effectiveness. When customers see the Diary Milk commercial, there are cognitive (especially memory) measures of meaning transfer. These measures are based on the assumption of “the more”, “the better”, although the actual reasons for why this should be the case have never been fully articulated. Clow, K.E. and Baack
    </p>
  </div>
</div>
{% endblock %}
{% block main %}
<style>
  .adv li img{
    width: 200px;
  }
  
.adv li {
  border: 2px solid #ddd;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 100px;
  margin-right: 20px;
  margin-bottom: 30px;
}
.adv li img{
  height: 90px;
}
.adv h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.adv p {
  font-size: 14px;
  color: #555;
}
</style>
<div class="baseproducts"style="overflow: hidden;">
  <h2 >Dairy Products</h2>
  <ul class="adv">
    <li>
      <a href="{% url 'ghee' %}">
      <img src="{% static 'images/products/dbtoned-milk.png'%}" alt="..." ></a>
    </li>
    <li>
      <a href="{% url 'kulfi' %}">
        <img src="{% static 'images/products/kulfi.png'%}" alt="..."></a>
    </li> 
    <li>
        <a href="{% url 'curd' %}">
        <img src="{% static 'images/products/curd-total.png'%}" alt="..."></a>
    </li>
  <li>
    <a href="{% url 'curd' %}">
    <img src="{% static 'images/products/curd-total.png'%}" alt="..."></a>
</li>
<li>
  <a href="{% url 'curd' %}">
  <img src="{% static 'images/products/curd-total.png'%}" alt="..."></a>
</li>
<li>
  <a href="{% url 'curd' %}">
  <img src="{% static 'images/products/curd-total.png'%}" alt="..."></a>
</li>
</ul>
</div>
<div class="baseproducts2"style="overflow: hidden;">
  <h2 >Dairy Items</h2>
  <ul class="adv" >
    <li>
      <a href="{% url 'ghee' %}">
      <img src="{% static 'images/products/dbtoned-milk.png'%}" alt="..." ></a>
    </li>
    <li>
      <a href="{% url 'kulfi' %}">
        <img src="{% static 'images/products/kulfi.png'%}" alt="..."></a>
    </li> 
    <li>
        <a href="{% url 'curd' %}">
        <img src="{% static 'images/products/curd-total.png'%}" alt="..."></a>
    </li>
  <li>
    <a href="{% url 'curd' %}">
    <img src="{% static 'images/products/curd-total.png'%}" alt="..."></a>
</li>
<li>
  <a href="{% url 'curd' %}">
  <img src="{% static 'images/products/curd-total.png'%}" alt="..."></a>
</li>
<li>
  <a href="{% url 'curd' %}">
  <img src="{% static 'images/products/curd-total.png'%}" alt="..."></a>
</li>
</ul>
</div>
{% endblock%}