{% extends 'base.html'%}
{% load static %}
{% block link %}
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}
{% block banner-slider %}
<style>
  .top{
    margin-top:6%;
    margin-bottom:3%;
  }
  .items-display{
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  left: 0%;
  background-color: white;
  display:flex;
  overflow:hidden;
  justify-content:center;
  height:140px;
  }
  .items-display .all{
    display:none;
  }
  .items-display li{
    cursor: pointer;
  }
  .items-display a{
    text-align: center;
    text-decoration: none;
  }
  p{
    text-align:justify;
   font-family: 'Times New Roman', Times, serif;
}
.items-display {
    list-style: none;
    padding: 0;
    margin: 0;
    transition: background-color 0.3s ease;
}
.items-display li {
  padding: 5px 20px;
  cursor: pointer;
}
.items-display li img{
  margin-bottom:-30px;
}
.items-display li h6{
  font-size:15px;
}
.items-display li a:hover{
color: #f0ad1c;
}
.items-display li:hover .submenu {
    display:block;
    transition: 0.9s;
}
.items-display li:hover .submenu li {
    display: block;
    padding: 8px 0;
}
.items-display li:hover .submenu li a{
    padding:0;
}
@media screen and (max-width:800px){
  .items-display li h6{
    font-size:10px;
  }
  .top{
    margin-top:13%;
    margin-bottom:3%;
  }
  .items-display{
    overflow:scroll;
    justify-content:start;
    overflow-y:hidden;
    height:77px;
    margin-bottom:-10px;
  }
  ::-webkit-scrollbar {
    width: 1px;
  }
  .items-display img{
    width:45px;
    margin-bottom:-30px
  }
  .items-display li{
    width:20%;
    padding: 10px;
    padding-top:3px;
  }
  .items-display .all{
    display:block;
  }
  .slide img{
    height:150px;
  }
}
@media screen and (max-width:600px){
  
}
</style>
<div class="top">
</div>
<ul style="list-style: none;" class="items-display">
  <li class="all">
    <a href="{% url 'categories' %}">
      <img src="{% static 'images/banner/all_categories.png' %}">
      <h6>categories</h6>
    </a>
  </li>
  <li>
    <a href="{% url 'Groceries'%}">
      <img src="{% static 'images/banner/grocery.webp'%}">
      <h6>Grocery</h6>
    </a>
    <ul class="submenu" style="text-decoration: none;display:none">
      <li><a href="">Milk</a></li>
      <li><a href="">Curd</a></li>
      <li><a href="">kulfi</a></li>
      <li><a href="">Ghee</a></li>
      <li><a href="">Paneer</a></li>
      <li><a href="">Ice-cream</a></li>
      <li><a href="">x`heese</a></li>
    </ul>
  </li>
  <li>
    <a href="{% url 'Mobiles' %}">
      <img src="{% static 'images/banner/mobiles.webp'%}">
      <h6>Mobiles</h6>
    </a>
  </li>
  <li>
    <a href="{% url 'Fashion' %}" >
      <img src="{% static 'images/banner/Fashion.webp'%}">
      <h6>Fashion</h6>
    </a>
  </li>
  <li>
    <a href="{% url 'Electronics' %}">
      <img src="{% static 'images/banner/electronics.webp'%}">
      <h6>Electronics</h6>
    </a>
  </li>
  <li>
    <a href="{% url 'Furnitures' %}">
      <img src="{% static 'images/banner/home&furnitures.webp'%}">
      <h6>Furnitures</h6>
    </a>
  </li>
  <li>
    <a href="{% url 'Appliances' %}">
      <img src="{% static 'images/banner/appliances.webp'%}">
      <h6>Appliances</h6>
    </a>
  </li>
  <li>
    <a href="{% url 'Travel' %}">
      <img src="{% static 'images/banner/travel.webp'%}">
      <h6>Travel</h6>
    </a>
  </li>
  <li>
    <a href="">
      <img src="{% static 'images/banner/toys.webp'%}">
      <h6>Beauty&Toys</h6>
    </a>
  </li>
</ul>
</div>
<div class="slideimg"style="margin-top: 0.5%;">
  <button id="prevBtn" style="display: none;">&#10094;</button>
  <div class="slide fade">
      <img src="{% static 'images/banner/b1.jpg'%}" alt="Image1">
  </div>
  <div class="slide fade">
      <img src="{% static 'images/banner/b2.jpg'%}" alt="Image2">
  </div>
  <div class="slide fade">
      <img src="{% static 'images/banner/b3.jpg'%}" alt="Image3">
  </div>
  <button id="nextBtn" style="display: none;">&#10095;</button>
</div>
<script>
  let slideIndex = 0;
  const slides = document.querySelectorAll('.slide');
  const prevBtn = document.getElementById('prevBtn');
  const nextBtn = document.getElementById('nextBtn');
  function slideshow(n) {
      if (n >= slides.length) {
          slideIndex = 0;
      } else if (n < 0) {
          slideIndex = slides.length - 1;
      }

      slides.forEach((slide) => {
          slide.style.display = 'none';
      });

      slides[slideIndex].style.display = 'block';
  }
  function nextSlide() {
      slideIndex++;
      slideshow(slideIndex);
  }

  prevBtn.addEventListener('click', () => {
      slideIndex--;
      slideshow(slideIndex);
  });

  nextBtn.addEventListener('click', nextSlide);

  function autoSlide() {
      nextSlide();
      setTimeout(autoSlide, 3000);
  }

  autoSlide();
  slideshow(slideIndex);
</script>
{% endblock%}
{% block information%}
{% endblock %}
{% block main %}
<style>
  .baseproduct{
    display:none
  }
  .adv{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 3px;
    padding: 20px;
  }
  .adv li {
    padding-top:0px;
    margin-right: 5px;
  }
  .adv li img{
    height:60px
  }
  .baseproducts h3{
    margin-left:55%;
    background-color:green;
    width:135px;
    padding:10px;
    border-radius:5px;
  }
  @media screen and (max-width:800px){
    .baseproduct{
      display:block;
    }
  .adv{
    width: 100%;
    height:120px; 
    list-style: none;
    display:flex;
    overflow:hidden;
    overflow-wrap: border;
    scroll-behavior: smooth;
    padding-left:20  px;
    justify-content:space-around;
  }
  .adv li img{
    height:100px;
  }
  a{
    text-decoration:none;
  }
  .adv li a p{
    text-align:center;
  }
.adv li {
  padding-top:0px;
}
.baseproduct h3{
  margin-left:30%;
  background-color:green;
  width:135px;
  padding:10px;
  border-radius:5px;
}
.baseproduct{
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: white;
  background-image: url("{% static 'images/banner/offer3.jpeg'%}");
  background-repeat:no-repeat;
  background-size:420px 250px;
}
.baseproducts{
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: white;
}
  }
</style>
<div class="baseproduct"style="overflow: hidden;">
  <h3 style='margin-left:30%;background-color:green;width:135px'>NEW LAUNCH</h3> 
  <ul class="adv"> 
    <li>
        {% for order in orders %}
          <a href="{% url 'productdetails' product_id=order.product.id %}">
          <img style='margin-top:-25%;border-radius:5px;' src="{{order.product.product_image.url}}" alt="...">
          </a>
        {% endfor %} 
    </li>
</ul>
</div>
<div style='display:flex' style='width:100%'>
<div class="container" style='width:70%'>
  <h1>Recent Search</h1>
  <div class="products" >
    {% for product in Recent|slice:'-7:' %}
    <a href="{% url 'productdetails' product_id=product.id %}">
    <div class="product">
      <img src="{{product.product_image.url}}" alt="{{product.productname}}">  
      <p>{{product.productname}}<p>      
    </div></a>
    {% endfor %}
  </div>
</div>
<div class="container" style='width:30%;'>
  <h1></h1>
  <h5></h5>
  <div class="product advi" >Adv </div>
</div>
</div>
<style>
  .container {
    background-color:white;
    padding-bottom:30px;
  }
  h1 {
    margin-top:2px;
    padding-top:10px;
    padding-bottom:10px;
    text-align: center;
  }
  .products {
    padding-left:20px;
    display: flex;
    overflow-x: auto; /* Enable horizontal scrolling */
    -webkit-overflow-scrolling: touch; /* Enable smooth scrolling on iOS */
    scrollbar-width: none; /* Hide scrollbar on Firefox */
    -ms-overflow-style: none; /* Hide scrollbar on IE/Edge */
  }
  .products::-webkit-scrollbar {
    display: none; /* Hide scrollbar on WebKit browsers */
  }
  .product { /* Adjust width as needed for each product */
    height:200px;
    margin-right: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
  }
  .product img{
    width:150px;
    height:180px;
    margin-top:-4px;
  }
  .product p{
    text-align: center;
    margin-top:-2px;
  }
  @media screen and (max-width:800px){  
  .container {
    background-color:white;
    padding-bottom:30px;
  }
  h1 {
    margin-top:2px;
    padding-top:10px;
    padding-bottom:10px;
    text-align: center;
  }
  .products {
    padding-left:20px;
    display: flex;
    overflow-x: auto; /* Enable horizontal scrolling */
    -webkit-overflow-scrolling: touch; /* Enable smooth scrolling on iOS */
    scrollbar-width: none; /* Hide scrollbar on Firefox */
    -ms-overflow-style: none; /* Hide scrollbar on IE/Edge */
  }
  .products::-webkit-scrollbar {
    display: none; /* Hide scrollbar on WebKit browsers */
  }
  .product { /* Adjust width as needed for each product */
    height:100px;
    margin-right: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
  }
  .product img{
    width:70px;
    height:90px;
    margin-top:-4px;
  }
  .product p{
    margin-top:-2px;
  }
  .container .advi{
    display:none; 
  }
}
</style>
<div class="container">
  <h1>Most View</h1>
  <div class="products">
    {% for product in top_products %}
    <a href="{% url 'productdetails' product_id=product.id %}">
      <div class="product">
        <img src="{{product.product_image.url}}" alt="{{product.productname}}">  
        <p>{{product.productname}}<p>      
      </div></a>
      {% endfor %}
  </div>
</div>
<div class="container">
  <h1>Top Deals</h1>
  <div class="products">
    {% for product in Top_Dealsview %}
    <a href="{% url 'productdetails' product_id=product.id %}">
      <div class="product">
        <img src="{{Top_Dealsview.product.product_image.url}}" alt="{{product.productname}}">  
        <p>{{product.productname}}<p>      
      </div></a>
      {% endfor %}
  </div>
</div>
<div class="container">
  <h1>NEW LAUNCHING</h1>
  <div class="products">
    {% for product in products_with_order_counts %}
    <a href="{% url 'productdetails' product_id=product.id %}">
      <div class="product">
        <img src="{{product.product_image.url}}" alt="{{product.productname}}">  
        <p>{{product.productname}}<p>      
      </div></a>
      {% endfor %}
  </div>
</div>
<div class="container">
  <h1>Most sales</h1>
  <div class="products">
    {% for product in top_orders %}
    <a href="{% url 'productdetails' product_id=product.id %}">
      <div class="product">
        <img src="{{product.product_image.url}}" alt="{{product.productname}}">  
        <p>{{product.productname}}<p>      
      </div></a>
      {% endfor %}
  </div>
</div>
<div class="container">
  <h1>Festival Offers</h1>
  <div class="products">
    {% for product in Festival %}
    <a href="{% url 'productdetails' product_id=product.id %}">
      <div class="product">
        <img src="{{product.product_image.url}}" alt="{{product.productname}}">  
        <p>{{product.productname}}<p>      
      </div></a>
      {% endfor %}
  </div>
</div>
<div class="container">
  <h1>Products</h1>
  <div class="products">
    {% for product in Products %}
    <a href="{% url 'productdetails' product_id=product.id %}">
      <div class="product">
        <img src="{{product.product_image.url}}" alt="{{product.productname}}">  
        <p>{{product.productname}}<p>      
      </div></a>
      {% endfor %}
  </div>
</div>
{% endblock%}
<!--- Admin start page-->
<div class='admin'>
{% if user.is_staff%} 
{% block admin%}
<style>
  .tittle{
    margin-top:6%;
    margin-left:2%;
  }
  .grid-content{
    margin-left:1%;
    display:grid;
    grid-template-columns:repeat(2,1fr);
    grid-gap:10px;
  }
  .grid-items{
    background-color:#f0f0f0;
    padding:20px;
    text-align:center;
    border:1px solid #ccc;
    width:620px;
    background-color:white;
  }
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;

}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 12px;
    text-align: left;
}
p {
    color: #555;
}
.action:hover{
    background-color: rgb(0, 255, 221);

}
.order{
    border: 2px solid #ddd;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: white;
}
.phoneview{
    display:none;
}
td a{
  color:blue;
}
@media screen and (max-width:800px){  
    .phoneview{
        margin-top:50px;
        display:block;
    }
    .order{
        display:none;
    }
    .product {
        margin-top:-20px;
        margin-left:-40px;
    }
    .product a{
        border: 1px solid #ddd;
        padding: 15px;
        background-color: #fff;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        display:flex;
        list-style:none;
        justify-content:space-around;
        align-items:center;
        text-decoration:none;
    }
    .phoneview h1{
        margin-bottom:30px;
    }
    .grid-content{
      margin-top:6%;
      display:grid;
      grid-template-columns:repeat(1,1fr);
      grid-gap:2px;
      
    }
    .grid-items{
      width:88.3333%;
      overflow:scroll;
    }
}
</style>
<h2 class='tittle'>Admin portal</h2>
<div class='grid-content'>
  <div class='grid-items'>
    <h3>Users</h3>
    <table border="1" >
      <thead>
          <tr style="cursor: not-allowed;">
              <th>Details</th>
              <th>Total</th>
              <th>active</th>
              <th>Deactive</th>
              <th>Staff</th>
              <th>Admin</th>
          </tr>
      </thead>
      <tbody>
              <tr>
                  <td>Users</td>
                  <td><a href=''>{{Total}}</a></td>
                  <td><a href=''>{{ active }}</a></td>
                  <td><a href=''>{{Deactive }}</a></td>
                  <td><a href=''>{{ staff }}</a></td>
                  <td><a href=''>{{ Admin }}</a></td>
              </tr>
      </tbody>
  </table>
  </div>
  <div class='grid-items'>
    <h3>Orders</h3>
    <table border="1" >
      <thead>
          <tr style="cursor: not-allowed;">
              <th>Details</th>
              <th>Total</th>
              <th>Pending</th>
              <th>packing</th>
              <th>Out for Delivery</th>
              <th>Delivered</th>
              <th>Return</th>
              <th>Cancel</th>
          </tr>
      </thead>
      <tbody>
              <tr>
                  <td>Orders</td>
                  <td><a href=''>{{Totalorders}}</a></td>
                  <td><a href=''>{{Pendingorders}}</a></td>
                  <td><a href=''>{{ acceptedorders }}</a></td>
                  <td><a href=''>{{ OFDorders }}</a></td>
                  <td><a href=''>{{ Deliveredorders }}</a></td>
                  <td><a href=''>{{ Returnorders }}</a></td>
                  <td><a href=''>{{ Cancelorders }}</a></td>
              </tr>
      </tbody>
  </table>
  </div>
  <div class='grid-items'>
    <table border="1" >
      <h3>Products Details</h3>
      <thead>
          <tr style="cursor: not-allowed;">
              <th></th>
              <th>Total</th>
              <th>active</th>
              <th>Deactive</th>
              <th>Staff</th>
              <th>Admin</th>
          </tr>
      </thead>
      <tbody>
              <tr>
                  <td>Users</td>
                  <td><a href='#'>{{Total}}</a></td>
                  <td><a href=''>{{ active }}</a></td>
                  <td><a href=''>{{ Deactive }}</a></td>
                  <td><a href=''>{{ staff }}</a></td>
                  <td><a href=''>{{ Admin }}</a></td>
              </tr>
      </tbody>
  </table>
  </div>
  <div class='grid-items'>
    <h3>In cart</h3>
    <table border="1" >
      <thead>
          <tr style="cursor: not-allowed;">
              <th>Order ID</th>
              <th>Delivery <br>Address</th>
              <th>Product</th>
              <th>Quantity</th>
              <th>Total Price</th>
              <th>Status</th>
          </tr>
      </thead>
      <tbody>
          {% for order in orders %}
              <tr>
                <td><a href='#'>{{Total}}</a></td>
                <td><a href=''>{{ active }}</a></td>
                <td><a href=''>{{Deactive }}</a></td>
                <td><a href=''>{{ staff }}</a></td>
                <td><a href=''>{{ Admin }}</a></td>
              </tr>
          {% endfor %}
      </tbody>
  </table>
  </div>
  <div class='grid-items'>
    <h3>Total Balance</h3>
    <table border="1" >
      <thead>
          <tr style="cursor: not-allowed;">
              <th></th>
              <th>Total</th>
              <th>Avilable</th>
              <th>Other charges</th>
              <th>Refunded Back</th>
              <th>Bal Dr</th>
          </tr>
      </thead>
      <tbody>
              <tr>
                <td>Balance</td>
                <td><a href=''>{{ amount }}</a></td>
                <td><a href=''>{{availableamount}}</a></td>
                <td><a href=''>{{otheramount }}</a></td>
                <td><a href=''>{{ amountrefund }}</a></td>
              </tr>
      </tbody>
  </table>
  </div>
  <div class='grid-items'>
    <h3>Balance category wise</h3>
    <table border="1">
      <thead>
          <tr style="cursor: not-allowed;">
              <th></th>
              <th>groceries</th>
              <th>Mobiles</th>
              <th>Fashion</th>
              <th>Electronics</th>
              <th>Furnitures</th>
              <th>Appliances</th>
          </tr>
      </thead>
      <tbody>
          {% for order in orders %}
              <tr>
                <td>Balance</td>
                <td><a href=''>{{ active }}</a></td>
                <td><a href=''>{{Deactive }}</a></td>
                <td><a href=''>{{ staff }}</a></td>
                <td><a href=''>{{ active }}</a></td>
                <td><a href=''>{{Deactive }}</a></td>
                <td><a href=''>{{ staff }}</a></td>
              </tr>
          {% endfor %}
      </tbody>
      <thead>
        <tr>
          <tr>
            <th></th>
            <th>Travel</th>
            <th>Others</th>
          </tr>
        </tr>
      </thead>
      <tbody>
        <td>
          <td>Balance</td>
           <td><a href=''>{{ active }}</a></td>
        </td>
      </tbody>
  </table>
  </div> 
</div>
{% endblock %}
{% else %}
{% endif %}
</div>
<!--- Admin start page-->