{% extends 'base.html'%}
{% load static %}
{% block link %}
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
{% endblock %}
{% block banner-slider %}
<style>
  .top{
    margin-top:6%;
    margin-bottom:3%;
  }
  .items-display{
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  left: 0%;
  background-color: white;
  display:flex;
  overflow:hidden;
  justify-content:center;
  }
  .items-display .all{
    display:none;
  }
  .items-display li{
    cursor: pointer;
  }
  .items-display a{
    text-align: center;
    text-decoration: none;
  }
  p{
    text-align:justify;
   font-family: 'Times New Roman', Times, serif;
}
.items-display {
    list-style: none;
    padding: 0;
    margin: 0;
    transition: background-color 0.3s ease;
}
.items-display li {
  padding: 10px 20px;
  cursor: pointer;
}
.items-display li a:hover{
color: #f0ad1c;
}
.items-display li:hover .submenu {
    display:block;
    transition: 0.9s;
}
.items-display li:hover .submenu li {
    display: block;
    padding: 8px 0;
}
.items-display li:hover .submenu li a{
    padding:0;
}
@media screen and (max-width:800px){
  .top{
    margin-top:13%;
    margin-bottom:3%;
  }
  .items-display{
    overflow:scroll;
    justify-content:start;
    overflow-y:hidden;
  }
  ::-webkit-scrollbar {
    width: 1px;
  }
  .items-display img{
    width:75px;
    margin-bottom:-35px;
  }
  .items-display li{
    width:30%;
    padding: 10px;
    margin-bottom:-20px;
  }
  .items-display .all{
    display:block;
  }
  .slide img{
    height:150px;
  }
}
@media screen and (max-width:600px){
  .items-display{
    margin-bottom:-10%;
  }
}
</style>
<div class="top">
</div>
<ul style="list-style: none;" class="items-display">
  <li class="all">
    <a href="{% url 'categories' %}">
      <img src="{% static 'images/banner/mobiles.webp'%}">
      <h5>all categories</h5>
    </a>
  </li>
  <li>
    <a href="{% url 'Groceries'%}">
      <img src="{% static 'images/banner/grocery.webp'%}">
      <h5>Grocery</h5>
    </a>
    <ul class="submenu" style="text-decoration: none;display:none">
      <li><a href="">Milk</a></li>
      <li><a href="">Curd</a></li>
      <li><a href="">kulfi</a></li>
      <li><a href="">Ghee</a></li>
      <li><a href="">Paneer</a></li>
      <li><a href="">Ice-cream</a></li>
      <li><a href="">x`heese</a></li>
    </ul>
  </li>
  <li>
    <a href="{% url 'Mobiles' %}">
      <img src="{% static 'images/banner/mobiles.webp'%}">
      <h5>Mobiles</h5>
    </a>
  </li>
  <li>
    <a href="{% url 'Fashion' %}" >
      <img src="{% static 'images/banner/Fashion.webp'%}">
      <h5>Fashion</h5>
    </a>
  </li>
  <li>
    <a href="{% url 'Electronics' %}">
      <img src="{% static 'images/banner/electronics.webp'%}">
      <h5>Electronics</h5>
    </a>
  </li>
  <li>
    <a href="{% url 'Home & Furnitures' %}">
      <img src="{% static 'images/banner/home&furnitures.webp'%}">
      <h5>Furnitures</h5>
    </a>
  </li>
  <li>
    <a href="{% url 'Appliances' %}">
      <img src="{% static 'images/banner/appliances.webp'%}">
      <h5>Appliances</h5>
    </a>
  </li>
  <li>
    <a href="{% url 'Travel' %}">
      <img src="{% static 'images/banner/travel.webp'%}">
      <h5>Travel</h5>
    </a>
  </li>
  <li>
    <a href="">
      <img src="{% static 'images/banner/toys.webp'%}">
      <h5>Beauty, Toys & More</h5>
    </a>
  </li>
</ul>
</div>
<div class="slideimg"style="margin-top: 0.5%;">
  <button id="prevBtn" style="display: none;">&#10094;</button>
  <div class="slide fade">
      <img src="{% static 'images/banner/b1.jpg'%}" alt="Image1">
  </div>
  <div class="slide fade">
      <img src="{% static 'images/banner/b2.jpg'%}" alt="Image2">
  </div>
  <div class="slide fade">
      <img src="{% static 'images/banner/b3.jpg'%}" alt="Image3">
  </div>
  <button id="nextBtn" style="display: none;">&#10095;</button>
</div>

{% endblock%}
{% block information%}
{% endblock %}
{% block main %}
<style>
  .adv{
    width: 100%;
    list-style: none;
    display:flex;
    overflow:hidden;
    overflow-wrap: border;
    scroll-behavior: smooth;
  }
  .adv li img{
    width:100px;
  }
  
.adv li {
  border: 2px solid #ddd;
  padding:15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 100px;
  margin-right: 5px;
  margin-bottom: 30px;
}
.adv li img{
  height: 90px;
}
.adv h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.adv p {
  font-size: 14px;
  color: #555;
}
.baseproducts{
  border: 2px solid #ddd;
  margin-left:0px ;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-right: 5px;
  background-color: white;
}
.baseproducts h3{
  margin-left: 30px;
}
.baseproducts h5{
  margin-right: 30px;
}
</style>
<div class="baseproducts"style="overflow: hidden;">
  <div style="display: flex;justify-content: space-between;">
    <h3>Dairy Products</h3>
    <h5><a href="#" style="margin-left: 5px;">  View all</a></h5>
  </div>
  <ul class="adv" style="margin-left: 0%;overflow: hidden;">
    <li>
      <a href="">
      <img src="{% static 'images/products/dbtoned-milk.png'%}" alt="..." ></a>
    </li>
    <li>
      <a href="">
        <img src="{% static 'images/products/kulfi.png'%}" alt="..."></a>
    </li> 
    <li>
        <a href="">
        <img src="{% static 'images/products/curd-total.png'%}" alt="..."></a>
    </li>
  <li>
    <a href="">
    <img src="{% static 'images/products/curd-total.png'%}" alt="..."></a>
</li>
<li>
  <a href="">
  <img src="{% static 'images/products/curd-total.png'%}" alt="..."></a>
</li>
<li>
  <a href="">
  <img src="{% static 'images/products/curd-total.png'%}" alt="..."></a>
</li>
</ul>
</div>
<div class="baseproducts"style="overflow: hidden;">
  <div style="display: flex;justify-content: space-between;">
    <h3>Dairy Items</h3>
    <h5><a href="#" style="margin-left: 5px;">  View all</a></h5>  </div>
  <ul class="adv" style="overflow: hidden;" >
    <li>
      <a href="">
      <img src="{% static 'images/products/dbtoned-milk.png'%}" alt="..." ></a>
    </li>
    <li>
      <a href="">
        <img src="{% static 'images/products/kulfi.png'%}" alt="..."></a>
    </li> 
    <li>
        <a href="">
        <img src="{% static 'images/products/curd-total.png'%}" alt="..."></a>
    </li>
  <li>
    <a href="">
    <img src="{% static 'images/products/curd-total.png'%}" alt="..."></a>
</li>
<li>
  <a href="">
  <img src="{% static 'images/products/curd-total.png'%}" alt="..."></a>
</li>
<li>
  <a href="">
  <img src="{% static 'images/products/curd-total.png'%}" alt="..."></a>
</li>
</ul>
</div>
{% endblock%}