{% extends 'base.html'%}
{% load static %}
{% block link %}<link rel="stylesheet" type="text/css" href="">
{% endblock %}
{% block main %}
<style>
  a{
    text-decoration: none;
  }
  .space h3{
    font-family: 'Times New Roman', Times, serif;
  }
  .mob-content{
    background
  }
  .space .mob-content p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
    font-size:14px;
    color:rgb(80, 73, 73);
    align-items:center;
    text-align:justify
  }
  .space .mob-content p a{
    color: rgb(53, 53, 201);
  }
  .space img{
    width:100%;
  }
  .product-items {
  display: flex;
  background-color:white;
  }
  .space{
    margin-top:7%;
    margin-left:8px;
    margin-right:8px;
  }
  .mobiles{
    width:160px;
    padding-left:10px;
    cursor:pointer;
  }
  .product-items{
    justify-content:center;
    margin-top:2px;
    margin-bottom:2px;
    padding-top:20px;
    overflow:hidden;
  }
  .mobiles p{
    font-size:13px;
  }
  .mobiles .name{
  
  }
  .mobiles:hover .name{
    color: rgb(33, 33, 117);
  }
  .mobiles img {
    height: auto;
    width:80px;
    height:100px;
    margin-bottom:8px;
  }
  .product img:hover{
    width:281px;
  }
  .mobile-3ads{
    display:flex;
    width:100%;
    margin-bottom:3px;
  }
  .mobile-3ads img{
    width:33.3%;
    height:300px;
  }
  .mobile-ads img{
    height:250px;
  }
  .mobiles .rating{
    padding:4px;
    width:25px;
    border-radius:2px;
    background-color:green;
    color: #ddd;
    margin-left:10%;
  }
  .phone-brand-tittle{
    margin-top:0px;
    display:flex;
    justify-content:space-between;
    background-color:white;
  }
  .phone-brand-tittle h3{
    margin-left:30px;
  }
  .phone-brand-tittle h5{
    margin-right:30px;
    padding:7px;
    background-color:rgb(50, 50, 211) ;
  }
  .phone-brand-tittle h5 a{
    color:white;
  }
  a{
    color:white;
  }
  @media screen and (max-width:800px){
  .space{
    margin-top:13%;
  }
  .product-items {
   display:flex;
   overflow:hidden;
   padding-left:40%;
  }
  .mobiles img {
    height: auto;
    width:80px;
    border-radius: 8px;
    margin-bottom: 10px;
  }
  .product:hover{
    width:281px;
  }
  .mobile-ads,.mobile-3ads{
    display:none;
  }
  }
</style>
<!-- ads start-->
<div class='space'>
    <div class='mob-content'>
        <h3>Mobile Phones</h3>
    </div>
    {% for mobile in mobile %}
    <div class='mobile-ads'>
    <img src="{{mobile.image_1.url}}" alt="">
    <img src="{{mobile.image_2.url}}" alt="">
    </div>
    {% endfor %}
    {% for mobile in mobile3 %}
    <div class='mobile-3ads'>
    <img style='padding-right:3px'src="{{mobile.image_1.url}}" alt="">
    <img style='padding-right:3px' src="{{mobile.image_2.url}}" alt="">
    <img src="{{mobile.image_3.url}}" alt="">
    </div>
    {% endfor %}
    {% for mobile in mobile %}
    <div class='mobile-ads'>
    <img src="{{mobile.image_3.url}}" alt="">
    <img src="{{mobile.image_4.url}}" alt="">
    </div>
    {% endfor %} 
    <!-- ads end-->
    <!-- Products-->
  
<div>
  <div class='phone-brand-tittle'>
    <h3>Realme smartphone</h3>
    <a href="{% url 'mobiles' brand_name='Realme' %}"><h5>view all</h5></a>
  </div>
  <div class="product-items" style='margin-bottom:2px'>
    {% if Realme %}
    {% for product in Realme %}
    <a style='display:flex' href="{% url 'productdetails' product_id=product.id %}">
      <div class=mobiles>
        <div style='display:flex'>
          <img style='margin-left:14%;' src="{{product.product_image.url}}">
          <a href="{% url 'add-to-wishlist' product_id=product.id %}"><img style='height:20px;' src="{% static 'images/banner/wishlist.svg'%}"></a>
        </div>
        <p class='name'>{{product.productname}}</p>
        <div>
          <p ><span class='rating'>4.5 *</span><span style='margin-left:5px;color:rgb(150, 150, 177);'>(1,345)</span></p>
          <p><span style='margin-right:7px'>₹</span >{{product.price}}
            <span style='color:rgb(150, 150, 177);text-decoration:line-through;' id='percentage-{{product.id}}'></span>
              <script>
                var original = parseInt({{product.price}}/(1-({{product.discount}}/100)))
                document.getElementById('percentage-{{product.id}}').innerHTML = "₹" + original;
            </script>
            <span style='color:green;margin-left:7px'>{{product.discount}}%</span></p>
        </div>
      </div>
    </a>
    {% endfor %}
    {% else %}
    <p>No Products</p>
    {% endif %}
  </div>
</div>
<div>
  <div class='phone-brand-tittle'>
    <h3>Poco smartphone</h3>
    <a href="{% url 'mobiles' brand_name='Poco' %}"><h5>view all</h5></a>
  </div>
  <div class="product-items" style='margin-bottom:2px'>
    {% if Poco %}
    {% for product in Poco %}
    <a style='display:flex' href="{% url 'productdetails' product_id=product.id %}">
      <div class=mobiles>
        <div style='display:flex'>
          <img style='margin-left:14%;' src="{{product.product_image.url}}">
          <a href="{% url 'add-to-wishlist' product_id=product.id %}"><img style='height:20px;' src="{% static 'images/banner/wishlist.svg'%}"></a>
        </div>
        <p class='name'>{{product.productname}}</p>
        <div>
          <p ><span class='rating'>4.5 *</span><span style='margin-left:5px;color:rgb(150, 150, 177);'>(1,345)</span></p>
          <p><span style='margin-right:7px'>₹</span >{{product.price}}
            <span style='color:rgb(150, 150, 177);text-decoration:line-through;' id='percentage-{{product.id}}'></span>
              <script>
                var original = parseInt({{product.price}}/(1-({{product.discount}}/100)))
                document.getElementById('percentage-{{product.id}}').innerHTML = "₹" + original;
            </script>
            <span style='color:green;margin-left:7px'>{{product.discount}}%</span></p>
        </div>
      </div>
    </a>
    {% endfor %}
    {% else %}
    <p>No Products</p>
    {% endif %}
  </div>
</div>
<div>
  <div class='phone-brand-tittle'>
    <h3>Samsung smartphone</h3>
    <a href="{% url 'mobiles' brand_name='Samsung' %}"><h5>view all</h5></a>
  </div>
  <div class="product-items" style='margin-bottom:2px'>
    {% if Samsung %}
    {% for product in Samsung %}
    <a style='display:flex' href="{% url 'productdetails' product_id=product.id %}">
      <div class=mobiles>
        <div style='display:flex'>
          <img style='margin-left:14%;' src="{{product.product_image.url}}">
          <a href="{% url 'add-to-wishlist' product_id=product.id %}"><img style='height:20px;' src="{% static 'images/banner/wishlist.svg'%}"></a>
        </div>
        <p class='name'>{{product.productname}}</p>
        <div>
          <p ><span class='rating'>4.5 *</span><span style='margin-left:5px;color:rgb(150, 150, 177);'>(1,345)</span></p>
          <p><span style='margin-right:7px'>₹</span >{{product.price}}
            <span style='color:rgb(150, 150, 177);text-decoration:line-through;' id='percentage-{{product.id}}'></span>
              <script>
                var original = parseInt({{product.price}}/(1-({{product.discount}}/100)))
                document.getElementById('percentage-{{product.id}}').innerHTML = "₹" + original;
            </script>
            <span style='color:green;margin-left:7px'>{{product.discount}}%</span></p>
        </div>
      </div>
    </a>
    {% endfor %}
    {% else %}
    <p>No Products</p>
    {% endif %}
  </div>
</div>
<div>
  <div class='phone-brand-tittle'>
    <h3>Vivo smartphone</h3>
    <a href="{% url 'mobiles' brand_name='Vivo' %}"><h5>view all</h5></a>
  </div>
  <div class="product-items" style='margin-bottom:2px'>
    {% if Vivo %}
    {% for product in Vivo %}
    <a style='display:flex' href="{% url 'productdetails' product_id=product.id %}">
      <div class=mobiles>
        <div style='display:flex'>
          <img style='margin-left:14%;' src="{{product.product_image.url}}">
          <a href="{% url 'add-to-wishlist' product_id=product.id %}"><img style='height:20px;' src="{% static 'images/banner/wishlist.svg'%}"></a>
        </div>
        <p class='name'>{{product.productname}}</p>
        <div>
          <p ><span class='rating'>4.5 *</span><span style='margin-left:5px;color:rgb(150, 150, 177);'>(1,345)</span></p>
          <p><span style='margin-right:7px'>₹</span >{{product.price}}
            <span style='color:rgb(150, 150, 177);text-decoration:line-through;' id='percentage-{{product.id}}'></span>
              <script>
                var original = parseInt({{product.price}}/(1-({{product.discount}}/100)))
                document.getElementById('percentage-{{product.id}}').innerHTML = "₹" + original;
            </script>
            <span style='color:green;margin-left:7px'>{{product.discount}}%</span></p>
        </div>
      </div>
    </a>
    {% endfor %}
    {% else %}
    <p>No Products</p>
    {% endif %}
  </div>
</div>
<div>
  <div class='phone-brand-tittle'>
    <h3>Apple smartphone</h3>
    <a href="{% url 'mobiles' brand_name='Apple' %}"><h5>view all</h5></a>
  </div>
  <div class="product-items" style='margin-bottom:2px'>
    {% if Apple %}
    {% for product in Apple %}
    <a style='display:flex' href="{% url 'productdetails' product_id=product.id %}">
      <div class=mobiles>
        <div style='display:flex'>
          <img style='margin-left:14%;' src="{{product.product_image.url}}">
          <a href="{% url 'add-to-wishlist' product_id=product.id %}"><img style='height:20px;' src="{% static 'images/banner/wishlist.svg'%}"></a>
        </div>
        <p class='name'>{{product.productname}}</p>
        <div>
          <p ><span class='rating'>4.5 *</span><span style='margin-left:5px;color:rgb(150, 150, 177);'>(1,345)</span></p>
          <p><span style='margin-right:7px'>₹</span >{{product.price}}
            <span style='color:rgb(150, 150, 177);text-decoration:line-through;' id='percentage-{{product.id}}'></span>
              <script>
                var original = parseInt({{product.price}}/(1-({{product.discount}}/100)))
                document.getElementById('percentage-{{product.id}}').innerHTML = "₹" + original;
            </script>
            <span style='color:green;margin-left:7px'>{{product.discount}}%</span></p>
        </div>
      </div>
    </a>
    {% endfor %}
    {% else %}
    <p>No Products</p>
    {% endif %}
  </div>
</div>
<div>
  <div class='phone-brand-tittle'>
    <h3>Motorola smartphone</h3>
    <a href="{% url 'mobiles' brand_name='Motorola' %}"><h5>view all</h5></a>
  </div>
  <div class="product-items" style='margin-bottom:2px'>
    {% if Motorola %}
    {% for product in Motorola %}
    <a style='display:flex' href="{% url 'productdetails' product_id=product.id %}">
      <div class=mobiles>
        <div style='display:flex'>
          <img style='margin-left:14%;' src="{{product.product_image.url}}">
          <a href="{% url 'add-to-wishlist' product_id=product.id %}"><img style='height:20px;' src="{% static 'images/banner/wishlist.svg'%}"></a>
        </div>
        <p class='name'>{{product.productname}}</p>
        <div>
          <p ><span class='rating'>4.5 *</span><span style='margin-left:5px;color:rgb(150, 150, 177);'>(1,345)</span></p>
          <p><span style='margin-right:7px'>₹</span >{{product.price}}
            <span style='color:rgb(150, 150, 177);text-decoration:line-through;' id='percentage-{{product.id}}'></span>
              <script>
                var original = parseInt({{product.price}}/(1-({{product.discount}}/100)))
                document.getElementById('percentage-{{product.id}}').innerHTML = "₹" + original;
            </script>
            <span style='color:green;margin-left:7px'>{{product.discount}}%</span></p>
        </div>
      </div>
    </a>
    {% endfor %}
    {% else %}
    <p>No Products</p>
    {% endif %}
  </div>
</div>
<div>
  <div class='phone-brand-tittle'>
    <h3>Redmi smartphone</h3>
    <a href="{% url 'mobiles' brand_name='Redmi' %}"><h5>view all</h5></a>
  </div>
  <div class="product-items" style='margin-bottom:2px'>
    {% if Redmi %}
    {% for product in Redmi %}
    <a style='display:flex' href="{% url 'productdetails' product_id=product.id %}">
      <div class=mobiles>
        <div style='display:flex'>
          <img style='margin-left:14%;' src="{{product.product_image.url}}">
          <a href="{% url 'add-to-wishlist' product_id=product.id %}"><img style='height:20px;' src="{% static 'images/banner/wishlist.svg'%}"></a>
        </div>
        <p class='name'>{{product.productname}}</p>
        <div>
          <p ><span class='rating'>4.5 *</span><span style='margin-left:5px;color:rgb(150, 150, 177);'>(1,345)</span></p>
          <p><span style='margin-right:7px'>₹</span >{{product.price}}
            <span style='color:rgb(150, 150, 177);text-decoration:line-through;' id='percentage-{{product.id}}'></span>
              <script>
                var original = parseInt({{product.price}}/(1-({{product.discount}}/100)))
                document.getElementById('percentage-{{product.id}}').innerHTML = "₹" + original;
            </script>
            <span style='color:green;margin-left:7px'>{{product.discount}}%</span></p>
        </div>
      </div>
    </a>
    {% endfor %}
    {% else %}
    <p>No Products</p>
    {% endif %}
  </div>
</div>
<div>
  <div class='phone-brand-tittle'>
    <h3>Google smartphone</h3>
    <a href="{% url 'mobiles' brand_name='Google' %}"><h5>view all</h5></a>
  </div>
  <div class="product-items" style='margin-bottom:2px'>
    {% if Google %}
    {% for product in Google %}
    <a style='display:flex' href="{% url 'productdetails' product_id=product.id %}">
      <div class=mobiles>
        <div style='display:flex'>
          <img style='margin-left:14%;' src="{{product.product_image.url}}">
          <a href="{% url 'add-to-wishlist' product_id=product.id %}"><img style='height:20px;' src="{% static 'images/banner/wishlist.svg'%}"></a>
        </div>
        <p class='name'>{{product.productname}}</p>
        <div>
          <p ><span class='rating'>4.5 *</span><span style='margin-left:5px;color:rgb(150, 150, 177);'>(1,345)</span></p>
          <p><span style='margin-right:7px'>₹</span >{{product.price}}
            <span style='color:rgb(150, 150, 177);text-decoration:line-through;' id='percentage-{{product.id}}'></span>
              <script>
                var original = parseInt({{product.price}}/(1-({{product.discount}}/100)))
                document.getElementById('percentage-{{product.id}}').innerHTML = "₹" + original;
            </script>
            <span style='color:green;margin-left:7px'>{{product.discount}}%</span></p>
        </div>
      </div>
    </a>
    {% endfor %}
    {% else %}
    <p>No Products</p>
    {% endif %}
  </div>
</div>
<div>
  <div class='phone-brand-tittle'>
    <h3>Oppo smartphone</h3>
    <a href="{% url 'mobiles' brand_name='Oppo' %}"><h5>view all</h5></a>
  </div>
  <div class="product-items" style='margin-bottom:2px'>
    {% if Oppo %}
    {% for product in Oppo %}
    <a style='display:flex' href="{% url 'productdetails' product_id=product.id %}">
      <div class=mobiles>
        <div style='display:flex'>
          <img style='margin-left:14%;' src="{{product.product_image.url}}">
          <a href="{% url 'add-to-wishlist' product_id=product.id %}"><img style='height:20px;' src="{% static 'images/banner/wishlist.svg'%}"></a>
        </div>
        <p class='name'>{{product.productname}}</p>
        <div>
          <p ><span class='rating'>4.5 *</span><span style='margin-left:5px;color:rgb(150, 150, 177);'>(1,345)</span></p>
          <p><span style='margin-right:7px'>₹</span >{{product.price}}
            <span style='color:rgb(150, 150, 177);text-decoration:line-through;' id='percentage-{{product.id}}'></span>
              <script>
                var original = parseInt({{product.price}}/(1-({{product.discount}}/100)))
                document.getElementById('percentage-{{product.id}}').innerHTML = "₹" + original;
            </script>
            <span style='color:green;margin-left:7px'>{{product.discount}}%</span></p>
        </div>
      </div>
    </a>
    {% endfor %}
    {% else %}
    <p>No Products</p>
    {% endif %}
  </div>
</div>
<div>
  <div class='phone-brand-tittle'>
    <h3>Infinix smartphone</h3>
    <a href="{% url 'mobiles' brand_name='Infinix' %}"><h5>view all</h5></a>
  </div>
  <div class="product-items" style='margin-bottom:2px'>
    {% if Infinix %}
    {% for product in Infinix %}
    <a style='display:flex' href="{% url 'productdetails' product_id=product.id %}">
      <div class=mobiles>
        <div style='display:flex'>
          <img style='margin-left:14%;' src="{{product.product_image.url}}">
          <a href="{% url 'add-to-wishlist' product_id=product.id %}"><img style='height:20px;' src="{% static 'images/banner/wishlist.svg'%}"></a>
        </div>
        <p class='name'>{{product.productname}}</p>
        <div>
          <p ><span class='rating'>4.5 *</span><span style='margin-left:5px;color:rgb(150, 150, 177);'>(1,345)</span></p>
          <p><span style='margin-right:7px'>₹</span >{{product.price}}
            <span style='color:rgb(150, 150, 177);text-decoration:line-through;' id='percentage-{{product.id}}'></span>
              <script>
                var original = parseInt({{product.price}}/(1-({{product.discount}}/100)))
                document.getElementById('percentage-{{product.id}}').innerHTML = "₹" + original;
            </script>
            <span style='color:green;margin-left:7px'>{{product.discount}}%</span></p>
        </div>
      </div>
    </a>
    {% endfor %}
    {% else %}
    <p>No Products</p>
    {% endif %}
  </div>
</div>
<div>
  <div class='phone-brand-tittle'>
    <h3>Other smartphone</h3>
    <a href="{% url 'mobiles' brand_name='Other' %}"><h5>view all</h5></a>
  </div>
  <div class="product-items" style='margin-bottom:2px'>
    {% if Other %}
    {% for product in Other %}
    <a style='display:flex' href="{% url 'productdetails' product_id=product.id %}">
      <div class=mobiles>
        <div style='display:flex'>
          <img style='margin-left:14%;' src="{{product.product_image.url}}">
          <a href="{% url 'add-to-wishlist' product_id=product.id %}"><img style='height:20px;' src="{% static 'images/banner/wishlist.svg'%}"></a>
        </div>
        <p class='name'>{{product.productname}}</p>
        <div>
          <p ><span class='rating'>4.5 *</span><span style='margin-left:5px;color:rgb(150, 150, 177);'>(1,345)</span></p>
          <p><span style='margin-right:7px'>₹</span >{{product.price}}
            <span style='color:rgb(150, 150, 177);text-decoration:line-through;' id='percentage-{{product.id}}'></span>
              <script>
                var original = parseInt({{product.price}}/(1-({{product.discount}}/100)))
                document.getElementById('percentage-{{product.id}}').innerHTML = "₹" + original;
            </script>
            <span style='color:green;margin-left:7px'>{{product.discount}}%</span></p>
        </div>
      </div>
    </a>
    {% endfor %}
    {% else %}
    <p>No Products</p>
    {% endif %}
  </div>
</div>
<!--
<div>
  <div class='phone-brand-tittle'>
    <h3>Realme smartphone</h3>
    <a href="{% url 'mobiles' brand_name='Realme' %}"><h5>view all</h5></a>
  </div>
  <div class="product-items" style='margin-bottom:2px'>
    {% if Realme %}
    {% for product in Realme %}
    <a style='display:flex' href="productdetails/{{product.id}}">
      <div class=mobiles>
        <div style='display:flex'>
          <img style='margin-left:14%;' src="{{product.product_image.url}}">
          <a href="{% url 'add-to-wishlist' product_id=product.id %}"><img style='height:20px;' src="{% static 'images/banner/wishlist.svg'%}"></a>
        </div>
        <p class='name'>{{product.productname}}</p>
        <div>
          <p ><span class='rating'>4.5 *</span><span style='margin-left:5px;color:rgb(150, 150, 177);'>(1,345)</span></p>
          <p><span style='margin-right:7px'>₹</span >{{product.price}}
            <span style='color:rgb(150, 150, 177);text-decoration:line-through;' id='percentage-{{product.id}}'></span>
              <script>
                var original = parseInt({{product.price}}/(1-({{product.discount}}/100)))
                document.getElementById('percentage-{{product.id}}').innerHTML = "₹" + original;
            </script>
            <span style='color:green;margin-left:7px'>{{product.discount}}%</span></p>
        </div>
      </div>
    </a>
    {% endfor %}
    {% else %}
    <p>No Products</p>
    {% endif %}
  </div>
</div>
<div>
  <div class='phone-brand-tittle'>
    <h3>Realme smartphone</h3>
    <a href="{% url 'mobiles' brand_name='Realme' %}"><h5>view all</h5></a>
  </div>
  <div class="product-items" style='margin-bottom:2px'>
    {% if Realme %}
    {% for product in Realme %}
    <a style='display:flex' href="productdetails/{{product.id}}">
      <div class=mobiles>
        <div style='display:flex'>
          <img style='margin-left:14%;' src="{{product.product_image.url}}">
          <a href="{% url 'add-to-wishlist' product_id=product.id %}"><img style='height:20px;' src="{% static 'images/banner/wishlist.svg'%}"></a>
        </div>
        <p class='name'>{{product.productname}}</p>
        <div>
          <p ><span class='rating'>4.5 *</span><span style='margin-left:5px;color:rgb(150, 150, 177);'>(1,345)</span></p>
          <p><span style='margin-right:7px'>₹</span >{{product.price}}
            <span style='color:rgb(150, 150, 177);text-decoration:line-through;' id='percentage-{{product.id}}'></span>
              <script>
                var original = parseInt({{product.price}}/(1-({{product.discount}}/100)))
                document.getElementById('percentage-{{product.id}}').innerHTML = "₹" + original;
            </script>
            <span style='color:green;margin-left:7px'>{{product.discount}}%</span></p>
        </div>
      </div>
    </a>
    {% endfor %}
    {% else %}
    <p>No Products</p>
    {% endif %}
  </div>
</div>
<div>
  <div class='phone-brand-tittle'>
    <h3>Realme smartphone</h3>
    <a href="{% url 'mobiles' brand_name='Realme' %}"><h5>view all</h5></a>
  </div>
  <div class="product-items" style='margin-bottom:2px'>
    {% if Realme %}
    {% for product in Realme %}
    <a style='display:flex' href="productdetails/{{product.id}}">
      <div class=mobiles>
        <div style='display:flex'>
          <img style='margin-left:14%;' src="{{product.product_image.url}}">
          <a href="{% url 'add-to-wishlist' product_id=product.id %}"><img style='height:20px;' src="{% static 'images/banner/wishlist.svg'%}"></a>
        </div>
        <p class='name'>{{product.productname}}</p>
        <div>
          <p ><span class='rating'>4.5 *</span><span style='margin-left:5px;color:rgb(150, 150, 177);'>(1,345)</span></p>
          <p><span style='margin-right:7px'>₹</span >{{product.price}}
            <span style='color:rgb(150, 150, 177);text-decoration:line-through;' id='percentage-{{product.id}}'></span>
              <script>
                var original = parseInt({{product.price}}/(1-({{product.discount}}/100)))
                document.getElementById('percentage-{{product.id}}').innerHTML = "₹" + original;
            </script>
            <span style='color:green;margin-left:7px'>{{product.discount}}%</span></p>
        </div>
      </div>
    </a>
    {% endfor %}
    {% else %}
    <p>No Products</p>
    {% endif %}
  </div>
</div>-->
</div>
</div>
{% endblock %}