{% extends 'base.html'%}
{% load static %}
{% block link %}<link rel="stylesheet" type="text/css" href="{% static 'css/ordersave.css' %}">
{% endblock %}
{%block Back %}
<div>
  <a href="{% url 'back' %}"><img src="{% static 'images/banner/back.png'%}" alt="image" style="height:30px; margin-top: 3px;margin-left:30%;"></a>
</div>
{% endblock %}
{% block main %}

  <div class="payment-success">
    <div class="like-icon">&#10004;</div>
    <br>
    <a href="{% url 'home' %}">Go back to Home</a>
    <a href="{% url 'orders' %}"><button>ok</button></a>
  </div>
{% endblock %}