{% extends "base.html"%}
{% load static %}
{%block Back %}
<div>
    <a href="{% url 'home' %}"><img src="{% static 'images/banner/back.png'%}" alt="image" style="height:30px; margin-top: 3px;margin-left:100%;"></a>
</div>
{% endblock %}
{% block category %}<h2>Orders</h2>{% endblock %}
{% block main%}
<br>
    <style>
h1 {
    color: #333;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;

}
table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 12px;
    text-align: left;
}

thead {
    background-color: #f2f2f2;
}
p {
    color: #555;
}
.action a{
    color:blue;
}
.order{
    border: 2px solid #ddd;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: white;
}
.phoneview{
    display:none;
}
@media screen and (max-width:800px){  
    a{
        -WebKit-tap-highlight-color:rgba(0,0,0,0);
    } a:focus,a:visited,a:active{
        outline:none;
    }
    .{
        -webkit-tap-highlight-color:transparent;
    }
    .phoneview{
        margin-top:50px;
        display:block;
    }
    .order{
        display:none;
    }
    .product {
        margin-top:-20px;
        margin-left:-40px;
    }
    .product a{
        border: 1px solid #ddd;
        padding: 15px;
        background-color: #fff;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        display:flex;
        list-style:none;
        justify-content:space-around;
        align-items:center;
        text-decoration:none;
    }
    .phoneview h1{
        margin-bottom:30px;
    }
    
}
</style>
<div class='phoneview'>
    <h1 >Orders:</h1>
    {% if orders %}
    {% for order in orders %}
    <ul class='product'>
        <a href="{% url 'orderdetails' pk=order.id %}" style='align-items:none'> 
        <li><img src="{{order.product.product_image.url}}" style="width: 50px;"></li>
        <li><h4>{{ order.product }}</h4></li>
        <li><h4>›</h4></li></a>
    </ul>
    {% endfor %}
    {% else %}
    <p>No orders available.</p>
    {% endif %}
</div>
    <div class="order">
    <h1>Orders:</h1>
    {% if orders %}
    <table border="1" >
        <thead>
            <tr style="cursor: not-allowed;">
                <th>Order ID</th>
                <th>Delivery Address</th>
                <th>Product</th>
                <th>Quantity</th>
                <th>Total Price</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
                <tr>
                    <td>{{ order.id }}<img src="{{order.product.product_image.url}}" style="width: 50px;padding-left: 30%;"> </td>
                    <td >{{ order.customer }},{{order.customer.city}},<br>{{order.customer.state}}-{{order.customer.Zipcode}}.{{order.customer.phone}}</td>
                    <td class="action" style="cursor: pointer;"><a href="productdetails/{{order.product.id}}">{{ order.product }}</a></td>
                    <td>{{ order.quality }}</td>
                    <td>₹ {{ order.product.price }}</td>
                   <td class="action" style="cursor: pointer;"><a href="{% url 'orderdetails' pk=order.id %}">{{ order.status }}</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No orders available.</p>
{% endif %}
</div>
</div>
{% endblock %}
