{% extends 'base.html' %}
{% load static %}
{% block link %}<link rel="stylesheet" type="text/css" href="{% static 'css/.css' %}">{% endblock %}
{% block main %}
<style>
.order-details {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 20px;
  padding: 20px;
  border: 2px solid #ddd;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 5px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: white;
}
.order-details a{
    text-decoration: none;
    padding: 15px;
    border-radius: 0px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}
.order-details .order {
    padding: 15px;
    border-radius: 0px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
}
.order-details ul{
   list-style: none;
}
.order-details ul li{
    padding: 15px;
}
.order-details .product-Offers img {
  width: 120px;
  height:140px;
  padding:10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-bottom: 10px;
  margin-top:-50px;
  margin-left:-30px;
}
.links a{
    color: rgb(43, 43, 211);
}
@media screen and (max-width:800px){
    .order-details {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
        gap: 20px;
        padding: 20px;    
    }
    .order{
      width:300px;
    }
    .order .pay{
    }
    .order-details .product-Offers{
        margin-left:-60px;
    }
    .order-details .product-Offers img{

    }
}
</style>
<div style='margin-top:6%'>
{% for order in orders %}
<div class='links'  >
    <p style="margin-left:1.5%;"><a style="margin-left:1.5%;" href="{% url 'home' %}">Home ›</a><a href="#">My Account ›</a>Orders {{order.id}}</p>
<div class="order-details" >
        <div class="order">
            <h4>Delivery Address</h4>
            <b>{{order.customer.name}}</b>
            <p>{{order.customer.locality}}<br>{{order.customer.city}}-{{order.customer.zipcode}}<br>{{order.customer.state}}</p>
            <b>{{order.customer.phone}}</b>
        </div>
        <div class="order">
            <h4>Rewards</h4>
            <p>0 SuperCoins Cashback</p>
            <p>Use it to save on your next order</p>
        </div>
        <div class="order">
            <h4>More Actions</h4>
                <p  style="padding: 15px;">Prefer contactless delivery ?<a class="pay" style="margin-left: 1.5%;" href="#">Pay_Now</a></p>
                <p  style="padding: 15px;">Share order details ?<a class="pay" style="margin-left: 13.5%;" href ="#">Share_order</a></p>
        </div>
    </div>
    <div class="order-details">
        <div class="product-Offers">
            <ul style="list-style: none;display: flex;">
            <li style="width: 100px;margin-top: 10%;"><img src="{{order.product.product_image.url}}"></li>
            <li><p>{{order.product.productname}}</p>
            <p>color:{{order.product.color}}</p>
            <p>₹ {{order.product.price}}</p>
            <p style="color: green;"> 0 Offers & 0 Coupons Applied</p></li>
        </ul>
        </div>
        <div >
            <div>
                <h4>
                Order status</h4>
            </div>
            <div>{{order.status}}</div>
        </div>
        <div >
            <ul>
            <li><a href="#">Cancel</a></li>
            <li><a href="#">Need Help ?</a></li>
            </ul>
        </div>
    </div>
    <div class="order-details">
    <div>
           <p><b>Help India make good choices</b></p>
           <a href="#"><p>Did you find this page helpful?›</p></a>
        </div>
    </div>
    </div>
</div>
    {% endfor %}
</div>
{% endblock %}