{% extends 'base.html'%}
{% load static %}
{% block link %}<link rel="stylesheet" type="text/css" href="{% static 'css/product.css' %}">
{% endblock %}
{%block Back %}
<div>
  <a href="{% url 'back' %}"><img src="{% static 'images/banner/back.png'%}" alt="image" style="height:30px; margin-top: 3px;margin-left:100%;"></a>
</div>
{% endblock %}
{% block main %}
<div class="about">
<form class="products">
        <div class="product">
            <p>password change sucessfully</p>
        <div class="btns">
       <a href="{% url 'profile' %}"><button type="button" class="btn btn-outline-warning">ok</button></a>
    </div>
    </div>    
</form>
</div>
{% endblock %}
