{% extends 'base.html' %}
{% load static %}
{% block link %}<link rel="stylesheet" type="text/css" href="{% static 'css/contact.css' %}">{% endblock %}

{% block main %}
<div class="about">
<div class="contactus">
    <form class="form" method="post" action="{% url 'password_change' %}" >
        {% csrf_token %}
        <h1>Passsword Change</h1>
        {{error_message}}
        <form method="post">
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit" class="btn btn-primary">Change Password</button>
        </form>
    </div>
{% endblock %}
</body>
</html>
