{% extends 'base.html'%}
{% load static %}
{% block link %}<link rel="stylesheet" type="text/css" href="{% static 'css/category.css' %}">
{% endblock %}
{% block main %}
<div class="product_margin" style="margin-top: 10%;">
<form class="products" method="post">
    {% csrf_token %}
    <div class="product-items">
        {% for product in products %}
        <div class="product">
          <img src="{{product.product_image.url}}" alt="{{product.productname}}">
          <h3>Name:{{product.productname}}</h3>
          <p>RS.{{product.price}}<br>
            RS.{{product.discount}}<br>
            {{product.description }}<br>
            {{product.specifications}}
          </p>
          <a href="{% url 'add-to-cart' product_id=product.id %}"><button type="button" class="btn btn-outline-warning" style="cursor: pointer;" >Add to cart</button></a>
          <a href="{% url 'add-to-wishlist' product_id=product.id %}"><button type="button" class="btn btn-outline-danger" style="cursor: pointer;" >Add to Wishlist</button></a>
        </div>
        {% endfor %}
        </div>
</form>
</div>
{% endblock %}
