{% extends 'base.html'%}
{% load static %}
{% block link %}<link rel="stylesheet" type="text/css" href="{% static 'css/product.css' %}">
{% endblock %}
{% block main %}
<div class="product_margin">
<form class="products" method="post">
    {% csrf_token %}
    {% for product in products %}
        <div class="product">
        <img style="margin-left:6%;" src="{{product.product_image.url}}" alt="{{product.productname}}">
        <p><b>Name:</b>{{product.productname}}</p>
        <p><b>Selling_price:</b>{{product.price}}</p>
        <p><b>Discounted_price:</b>{{product.discount}}</p>
        <div class="btns">
        <button type="button" class="btn btn-outline-primary" style="cursor: pointer;"  >Buy Now</button>
        <a href="{% url 'add-to-cart' product_id=product.id %}"><button type="button" class="btn btn-outline-warning" style="cursor: pointer;" >Add to cart</button></a><br><br>
        <a href="{% url 'add-to-wishlist' product_id=product.id %}"><button type="button" class="btn btn-outline-danger" style="cursor: pointer;" >Add to Wishlist</button></a>
        </div>
    </div>
{% endfor %}
</form>
</div>
{% endblock %}
