{% extends 'base.html'%}
{% load static %}
{% block link %}<link rel="stylesheet" type="text/css" href="">
{% endblock %}
{% block main %}
<style>
  .product-items {
    margin-top:6%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
    gap: 10px;
  }
    .product {
      border: 1px solid #ddd;
      padding: 15px;
      background-color: #fff;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      position:fixed;
    }
    .product img {
      height: auto;
      width:250px;
      border-radius: 8px;
      margin-bottom: 10px;
    }
    .button{
      bottom:0%;
      background-color: white;
      width:105%;
      overflow:hidden;
      display:flex;
      margin-left:-34px;
    }
    .button button{
      height:65px;
      width:203px;
      border:none;
      font-size:20px;
    }
    .product .change{
      margin-left:50px;
    }
    .rating{
      padding:4px;
      width:25px;
      border-radius:2px;
      background-color:green;
      color: #ddd;
      margin-left:10%;
    }
  @media screen and (max-width:800px){
    .product-items {
      margin-top:2%;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      gap: 10px;
    }
  .button{
    position:fixed;
    bottom:0%;
    background-color: white;
    width:105%;
    overflow:hidden;
    display:flex;
    margin-left:-34px;
  }
  .button button{
    height:65px;
    width:203px;
    border:none;
    font-size:20px;
  }
  .product_margin{
    margin-top:10%;
  }
  .baseproducts{
    border: 2px solid #ddd;
    margin-top:15%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: white;
  }
  .baseproducts img{
    width:350px;
  }
}
</style>
<form class="product-items" method="post">
    {% csrf_token %}
    <div class="baseproducts" >
        {% for product in products %}
        <div class="product">
          <div class='change' style='margin-left:-5px;'>
          <img src="{{product.product_image.url}}" alt="{{product.productname}}">
          <div>
            <p class='name'>{{product.productname}}</p>
            <p ><span class='rating'>4.5 *</span><span style='margin-left:5px;color:rgb(150, 150, 177);'>(1,345)</span></p>
            <p><span style='margin-right:7px'>₹</span >{{product.price}}
              <span style='color:rgb(150, 150, 177);text-decoration:line-through;' id='percentage-{{product.id}}'></span>
                <script>
                  var original = parseInt({{product.price}}/(1-({{product.discount}}/100)))
                  document.getElementById('percentage-{{product.id}}').innerHTML = "₹" + original;
              </script>
              <span style='color:green;margin-left:7px'>{{product.discount}}%</span></p>
          </div>
        </div>
          <div class="button">
          <a href="{% url 'add-to-cart' product_id=product.id %}"><button type="button" class="addtocart" style="cursor: pointer;background-color:rgb(253, 253, 253);" >Add to cart</button></a>
         <!-- <a href="{% url 'add-to-wishlist' product_id=product.id %}"><button type="button" class="addtowish" style="cursor: pointer;" >Add to Wishlist</button></a>-->
         <a href=""><button type="button" class="addtocart" style="cursor: pointer;background-color:rgb(255, 136, 0)" >Buy Now</button></a>
        </div>
        </div>
        {% endfor %}
        </div>
        {% for product in products %}
        <p>{{product.specifications}}</p>
        {% endfor %}
        <div>
        </div>
</form>
{% endblock %}
