{% extends 'base.html' %}
{% load static %}
{% block link %}<link rel="stylesheet" type="text/css" href="{% static 'css/category.css' %}">{% endblock%}

{% block main %}
<div class="about">
    <h3 style="margin-top: 10%;">Wishlist</h3>
<form class="product-items" method="post">
    {% csrf_token %}
    <div class="product">
        {% for product in wishlist %}
        <div class="list-items">
            <div >
                <a href="productdetails/{{product.id}}"><img src="{{product.product_image.url}}" alt="{{product.productname}}"></a>
            </div>
            <div >
                <p><b>Name:</b>{{product.productname}}</p>
                <p>{{product.description}}</p>
                <a href="{% url 'add-to-cart' product_id=product.id %}"><button type="button" class="btn btn-warning">Add to Cart</button></a>
            </div>
        </div>
        {% endfor %}
    </div>
    <div>
</form>
</div>
{% endblock %}