{% extends 'base.html' %}
{% load static %}
{% block link %}<link rel="stylesheet" type="text/css" href="{% static 'css/category.css' %}">{% endblock%}
{%block Back %}
<div>
  <a href="{% url 'back' %}"><img src="{% static 'images/banner/back.png'%}" alt="image" style="height:30px; margin-top: 3px;margin-left:30%;"></a>
</div>
{% endblock %}
{% block main %}
<style>

</style>
<div class="about">
    <h3 style="margin-top: 7%;">Wishlist</h3>
<form class="product-items" method="post">
    {% csrf_token %}
        {% for product in wishlist %}
        <div class="product">
            <div >
                <a href="productdetails/{{product.id}}"><img src="{{product.product_image.url}}" alt="{{product.productname}}"></a>
            </div>
            <div >
                <p><b>Name:</b>{{product.productname}}</p>
                <p>{{product.description}}</p>
                <a href="{% url 'add-to-cart' product_id=product.id %}"><button type="button" class="btn btn-warning">Add to Cart</button></a>
                <a href="{% url 'remove-from-wishlist' product_id=product.id %}"><button type="button" class="btn btn-warning">remove-from-wishlist</button></a>
            </div>
        </div>
        {% endfor %}
    </div>
    <div>
</form>
</div>
{% endblock %}