body{
    background-color: rgb(231, 233, 233);
    margin: 0px;
    width: 100%;
    height: 100%;
    padding: 0px;
}
p{
    text-align:justify
}
a{
    color: black;
    text-decoration: none;
}
main header{
    border: 1px solid #ddd;
    background-color:rgb(255, 255, 255);
    display: flex;
    position: fixed;
    justify-content:space-between;
    align-items: center;
    width: 100%;
    top:0;
    transition: 0.6s;
    left: 0%;
    
}
main header ul{
    list-style-type: none;
    text-decoration: none;
    display: flex;
    justify-content: space-around;
}
main header ul li a{
    text-decoration: none;
    padding: 10px;
    display: flex;
}
/* Burger */
.burger{
    height:28px;
    width: 28px;
    display: none;
    color: #ececec;
    cursor: pointer;
}
.layer1,.layer2,.layer3{
    background: rgb(24, 24, 24);
    height:2px;
    margin-top: 8px;
    width:100% ;
    border-radius: 10px;
    position: relative;
  }  
/* end burger*/
.username a{
    text-decoration: none;
    color: black;
}
.main-bar ul .username:hover{
    border-radius: 5px;
    background-color:rgba(141, 136, 136, 0.1);
}
.main-bar ul .username:hover .rotate-text-180 {
    transform: rotate(180deg);
}
.slideimg{
    margin: 0 auto;
}
.slideimg .slide{
    display: none;
}
.slideimg img{
    width: 100%;
    height: 300px;
}
.slideimg .fade{
    animation-name: fade;
    animation-duration: 2s;
}
.prev,.next{
    margin: 10px;
    padding: 10px;
    cursor: pointer;
    color: #ececec;
    height:100px;
    background-color:rgb(180, 199, 184);
    border: none;
    border-radius: 5px;
}
.prev{
    left:0;
}     
.next {
    right: 0;
}
.username:hover .submenu {
    margin-top: 2px;
    display: block;
    position: absolute;
    background-color:white;
    border-radius: 5px;
    justify-content: start;
    width: fit-content;
    transition: transform 3s ease;
}
.username:hover .submenu li:hover{
    background-color:rgba(95, 88, 88, 0.1);
}
.username .submenu li{
    align-items: start;
    margin-left: -40%;
}
.username .submenu li img{
    margin-right:10px;
}
.username .submenu{
    display: none;
}
.menu-sidebar{
    display: none;
    }
@media screen and (max-width:800px){
    main header{
        height:50px;
        background-color:rgb(248, 149, 0);
    }
    main header ul li a{
        padding: 10px;
    }
    .burger{
        list-style: none;
        display: block;
        cursor: pointer;
    }
    main header .burger{
        list-style: none;
        display: block;
        cursor: pointer;
    }
    main header .main-bar{
        display: none;
    }
    .menu-sidebar{
        display: block;
        top:0.1%;
        left:0%;
        position:fixed;
        height: 100%;
        width:-0%;
        z-index: 11;
        background-color:white;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: 0.3s linear;
        overflow: hidden;
    }
    .menu-menubar{
        display: flex;
    }
    .menu-list{
        display: flex;
        justify-content:space-around;
        align-items: center;
        flex-direction: column;
        list-style: none;
        text-decoration: none;
        width: 100px;
    }
    .menu-sidebar .close-menu{
        font-size: 1.4em;
        padding-left:70%;
    }
    .menu-list a{
        text-decoration: none;
        color: #090909;
        padding: 10px;
        padding-left: 0px;
    }
    .menu-list-items a{
        color: #f09d51;
        text-decoration: none;
    }
    header .menu-list-item:hover a{
        color: #f09d51;
    }
    .menu-list-items a:hover{
        color: rgb(33, 33, 117);
    }
    .menu-list li img{
        width:15px;
        margin-bottom:-2px;
        margin-right:4px
    }
    footer h4{
        display: none;
    }
    }