.baseproducts .adv{
    width: 90%;
    list-style: none;
    display:flex;
    overflow-x:scroll;
    overflow-y:hidden;
    overflow-wrap: border;
  }
.baseproducts .adv li{
    border: 1px solid black;
    margin: 10px;
    align-items:center;
  }
.baseproducts .adv::-webkit-scrollbar {
      width: 0.1px;
  }
  
.baseproducts .adv::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  }
  
.baseproducts .adv::-webkit-scrollbar-thumb {
    background-color: red;
    outline: 0.5px solid red;
  }
@media screen and (max-width:600px){
  .adv{
    
  }
  
}