.adv{
    width: 100%;
    list-style: none;
    display:flex;
    overflow-x:scroll;
    overflow-y:hidden;
    overflow-wrap: border;
    scroll-behavior: smooth;
  }
.adv li{
    border: 1px solid black;
    margin: 10px;
    align-items:center;
  }
.adv::-webkit-scrollbar {
      width: 0.1px;
  }
  
.adv::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  }
.adv::-webkit-scrollbar-thumb {
    background-color: red;
    outline: 0.5px solid red;
  }
button{
  cursor: pointer;
}